<!--user-cover-photo to cover-photo-->

<% provide(:title, "About") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="about-cover-photo">
  <h1 class="cover-photo-title">Welcome to Dealership</h1>
</div>

<div class="about">
  <p class="about-info">
    We bring vehicle enthusiasts together in a uniquely visual community. List 
    your car on the world’s leading online marketplace for vehicles. Customers 
    from all over the world will see your vehicle featuring our stunning 
    photography and original content. Dealerhship.com is available in multiple 
    languages and our 24-hour multi-lingual team will secure bookings you would 
    otherwise miss out on. You will have your own dedicated account manager and 
    only pay for confirmed sales.
  </p>
</div>