<!--complete-->

<% provide(:title, "About") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="about-cover-photo">
  <h1 class="cover-photo-title">Welcome to Dealership</h1>
</div>

<div class="about">
  <p class="about-info">
    We bring vehicle enthusiasts together in a trusted community marketplace. 
    Here, customers from the United States and Canada will see your vehicle 
    featured with stunning photography and original content.
  </p>
</div>