<% provide(:title,       "About Us") %>
<% provide(:description, "Motominion is the fastest growing online motorcycle marketplace in the U.S. Discover why we're the chosen destination for buying, owning, and selling a motorcycle.") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<%= render 'layouts/contact' %>

<div class="cover-photo" 
     style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/about.jpg')">
  <h1 class="cover-photo-title">Welcome to Motominion</h1>
</div>

<div class="about">
  
  <p class="about-info">
    We bring motorcycle enthusiasts together in a trusted community marketplace.
    If you are selling your bike, buyers from the California will see your 
    motorcycle featured with stunning photography and original content. If 
    buying, Motominion's in-app tools can help you to make the right decision. 
    Choosing the right bike is difficult. Let us do the leg work!
  </p>
  
  <div class="about-leadership">
    
    <h2 class="about-leadership-title">Leadership Team</h2>
    
    <div class="row about-leadership-item">
      
      <div class="col-md-4">
        <div class="leadership-avatar" 
             style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/partner1.jpg')"></div>
      </div>
      
      <div class="col-md-8">
        
        <div class="leadership-detail">
          
          <span class="leadership-name">Nick Lauwers</span>
          
          <span class="leadership-role">ceo & founder</span>
        </div>
        
        <p class="leadership-info">
          As founder and ceo, Nick drives the vision, strategy, and growth of 
          the company as it develops new ways for motorcycle enthusiasts to 
          interact. Nick met cfo John Kay while both served as officers of the 
          Canadian Forces. Nick would later work as an engineer for Ford Motor 
          Company.
        </p>
      </div>
    </div>
    
    <div class="row about-leadership-item">
      
      <div class="col-md-4">
        <div class="leadership-avatar" 
             style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/partner2.jpg')"></div>
      </div>
      
      <div class="col-md-8">
        
        <div class="leadership-detail">
          
          <span class="leadership-name">John Kay</span>
          
          <span class="leadership-role">cfo</span>
        </div>
        
        <p class="leadership-info">
          John is responsible for leading the finance systems of the company, as 
          well as its customer experience platform. In addition to serving as an 
          analyst of the Canada-India Business Council, John has worked as a 
          transportation infrastructure engineer for several design firms.
        </p>
      </div>
    </div>
    
    <div class="row last about-leadership-item">
      
      <div class="col-md-4">
        <div class="leadership-avatar" 
             style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/partner3.jpg')"></div>
      </div>
      
      <div class="col-md-8">
        
        <div class="leadership-detail">
          
          <span class="leadership-name">Lillian Trieu</span>
          
          <span class="leadership-role">cto</span>
        </div>
        
        <p class="leadership-info">
          As cto, Lillian manages a team of engineers and data scientists 
          dedicated to delivering trust and transparency to the vehicle 
          purchasing process. She holds an engineering degree from the 
          University of Alberta and has worked as an energy systems engineer.
        </p>
      </div>
    </div>
  </div>
</div>