<% provide(:title, "About") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="content-container">
  <h1 class="content-title">About</h1>
  <p>
    Dealership.com provides a fully-integrated vehicle purchasing and delivery 
    experience.
  </p>
</div>