<% provide(:title, "Contact") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="content-container">
  <h1 class="content-title">Contact</h1>
  <p>
    Contact Nick Lauwers about Dealership.com.
  </p>
</div>