<% provide(:title, "Help") %>

<header class="header-normal">
  <%= render 'layouts/header' %>
</header>

<div class="content-container">
  <h1 class="content-title">Help</h1>
  <p>
    Call our hotline to receive help.
  </p>
</div>