<div class="jumbotron">
  <div class="jumbotron-text">
    <h1 class="hero-title">Find Your Vehicle</h1>
    <h2 class="hero-subtitle">
      Purchase unique vehicles from around the world
    </h2>
    <div class="form-group">
      <div class="input-group">
        <div class="icon-addon addon-lg">
          <input  type="text" 
                  class="form-control"
                  maxlength="100"
                  placeholder="Search by vehicle, dealership, or city"  
                  id="search"/>
          <label  for="search" 
                  class="glyphicon glyphicon-search" 
                  rel="tooltip" 
                  title="search"/>
        </div>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary btn-inline">
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="popular-searches">
      <h4 class="popular-searches-title">Popular:</h4>
      <ul class="popular-searches-list">
        <li><%= link_to "Ford Fusion",     '#' %></li>
        <li><%= link_to "Les Stanford GM", '#' %></li>
        <li><%= link_to "Detroit",         '#' %></li>
      </ul>
    </div>
  </div>
</div>
<div class="features">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="feature">
        <h3 class="feature-title">Student Life</h3>
        <h4 class="feature-description">
          Live with fellow students in properties designed for student life
        </h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="feature">
        <h3 class="feature-title">Detailed Guides</h3>
        <h4 class="feature-description">
          Browse photo galleries and detailed guides
        </h4>
      </div>
    </div>
    <div class="col-md-4">
      <div class="feature">
        <h3 class="feature-title">Stress-free Purchasing</h3>
        <h4 class="feature-description">
          Our expert consultants will take care of everything for you
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="how-it-works text-center">
  <h3 class="how-it-works-title">"Empty"</h3>
</div>

<!--http://bootsnipp.com/snippets/featured/support-glyph-and-fa-icon-inside-input-->