<!--completed-->

<% provide(:title, "How It Works") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="cover-photo" 
     style="background-image: url('/assets/how-it-works.jpg')">
  <h1 class="cover-photo-title">
    We're with you for every step of the journey.
  </h1>
</div>

<div class="how-it-works">
  <p class="how-it-works-info">
    Featuring a set of research tools, as well as a comprehensive database of 
    consumer reviews and price histories, Mototrova provides a trusted 
    community marketplace for vehicle enthusiasts. Begin by listing your 
    vehicle. Or perhaps search for that car that you've always wanted.
  </p>
</div>

<div class="how-it-works-steps">
  <div class="row steps-content">

    <div class="col-xs-4 step">
      
      <i class="fa fa-binoculars fa-3x" aria-hidden="true"></i>
      
      <h3 class="step-title">Transparency</h3>
      
      <h4 class="step-info">
        View dealer reviews, price histories, and local-market price analyses
      </h4>
    </div>
    
    <div class="col-xs-4 step">
      
      <i class="fa fa-area-chart fa-3x" aria-hidden="true"></i>
      
      <h3 class="step-title">Detailed Guides</h3>
      
      <h4 class="step-info">
        Browse photo galleries and vehicle brochures
      </h4>
    </div>
    
    <div class="col-xs-4 step">
      
      <i class="fa fa-book fa-3x" aria-hidden="true"></i>
      
      <h3 class="step-title">Stress-free Purchasing</h3>
      
      <h4 class="step-info">
        Use in-app messaging to negotiate the right price
      </h4>
    </div>
  </div>
</div>