<% provide(:title,       "How It Works") %>
<% provide(:description, "Everything you need to know about purchasing your next motorcycle. Easily find new and used bikes using Motominion's in-app tools.") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="cover-photo" 
     style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/how-it-works.jpg')">
  <h1 class="cover-photo-title">
    We're with you for every step of the journey.
  </h1>
</div>

<div class="how-it-works">
  <p class="how-it-works-info">
    Featuring a set of research tools, as well as a comprehensive database of 
    consumer reviews and price histories, Motominion provides a trusted 
    community marketplace for motorcycle enthusiasts. Begin by listing your 
    motorcycle. Or perhaps search for that bike that you've always wanted.
  </p>
</div>

<div class="how-it-works-steps">
  <div class="row steps-content">

    <div class="col-xs-4 step">
      
      <i class="fa fa-binoculars fa-3x" aria-hidden="true"></i>
      
      <h3 class="step-title">Transparency</h3>
      
      <h4 class="step-info">
        View dealer reviews, price histories, and local-market price analyses
      </h4>
    </div>
    
    <div class="col-xs-4 step">
      
      <i class="fa fa-area-chart fa-3x" aria-hidden="true"></i>
      
      <h3 class="step-title">Detailed Guides</h3>
      
      <h4 class="step-info">
        Browse photo galleries and motorcycle brochures
      </h4>
    </div>
    
    <div class="col-xs-4 step">
      
      <i class="fa fa-book fa-3x" aria-hidden="true"></i>
      
      <h3 class="step-title">Stress-free Purchasing</h3>
      
      <h4 class="step-info">
        Use in-app messaging to negotiate the right price
      </h4>
    </div>
  </div>
</div>