<% provide(:title, "Tour") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="tour-hero">
  <div class="tour-hero-content">
    
    <div class="row tour-hero-text">

      <div class="col-md-3 tour-hero-image">
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour.png", 
                      class: "hidden-xs") %>
      </div>
      
      <div class="col-md-8 col-md-offset-1">

        <h1 class="tour-hero-title">Experience Mototrova</h1>
        
        <h2 class="tour-hero-subtitle">
          Simplifying auto retail
        </h2>
        
        <p class="tour-hero-info">
          Mototrova consolidates the vehicle purchasing experience, making your 
          team more productive, less stressed, and just a little bit happier.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="tour-feature-white">
  <div class="tour-feature">
    <div class="row">
      
      <div class="col-md-5 col-md-offset-1 col-md-push-6">
        <div class="feature-screenshot"
             style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-screenshot-a.png')">
        </div>
      </div>
      
      <div class="col-md-6 col-md-pull-6">
        
        <h1 class="feature-title">Enables consumer outreach</h1>
        
        <p class="feature-info">
          Mototrova employs a robust social strategy that strengthens buyer-seller
          trust.
        </p>
        
        <div class="row feature-testimonial">
    
          <div class="col-md-3">
            
            <div class="feature-testimonial-avatar",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-avatar-a.jpg')">
            </div>
            
            <span class="feature-testimonial-name visible-xs">
              Darren Coates, Ortega Chevrolet
            </span>
          </div>
          
          <div class="col-md-9">
            
            <p class="feature-testimonial-info">
              "Mototrova has allowed our team to interact one-on-one with 
              consumers." 
            </p>
              
            <span class="feature-testimonial-name hidden-xs">
              Darren Coates, Ortega Chevrolet
            </span>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
</div>

<div class="tour-feature-gray">
  <div class="tour-feature">
    <div class="row tour-feature-content">
      
      <div class="col-md-5">
        <div class="feature-screenshot"
             style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-screenshot-c.png')">
        </div>
      </div>
      
      <div class="col-md-6 col-md-offset-1">
        
        <h1 class="feature-title">Online purchasing</h1>
        
        <p class="feature-info">
          Consumers are able to submit orders for vehicles and F&I products.
        </p>
        
        <div class="row feature-testimonial">
    
          <div class="col-md-3">
            
            <div class="feature-testimonial-avatar",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-avatar-b.jpg')">
            </div>
            
            <span class="feature-testimonial-name visible-xs">
              Kellie Greer, Quinn Buick GMC
            </span>
          </div>
          
          <div class="col-md-9">
            
            <p class="feature-testimonial-info">
              "The 'Buy Now' feature has allowed our customers to submit orders from the
              comfort of their own homes, even when the dealership is closed." 
            </p>
              
            <span class="feature-testimonial-name hidden-xs">
              Kellie Greer, Quinn Buick GMC
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="tour-feature-white">
  <div class="tour-feature">
    <div class="row tour-feature-content">
      
      <div class="col-md-5 col-md-offset-1 col-md-push-6">
        <div class="feature-screenshot"
             style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-screenshot-c.png')">
        </div>
      </div>
      
      <div class="col-md-6 col-md-pull-6">
        
        <h1 class="feature-title">Personalization of the dealership</h1>
        
        <p class="feature-info">
          Dealership associates establish a personal relationship with the
          consumer. Individual profile pages and the ability to interact with car
          clubs and vehicle enthusiasts strengthen this relationship.
        </p>
        
        <div class="row feature-testimonial">
    
          <div class="col-md-3">
            
            <div class="feature-testimonial-avatar",
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-avatar-c.jpg')">
            </div>
            
            <span class="feature-testimonial-name visible-xs">
              Dan Goodwin, Chrysler of Jackson
            </span>
          </div>
          
          <div class="col-md-9">
            
            <p class="feature-testimonial-info">
              "Our associates are no longer viewed as dealership employees, but as real 
              people. Consumer trust has grown." 
            </p>
              
            <span class="feature-testimonial-name hidden-xs">
              Dan Goodwin, Chrysler of Jackson
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>