<%= form_for(:session, url: login_url) do |f| %>
  
  <%= link_to "/auth/google", 
              class: "btn btn-social-auth" do %>
              
      <i class="fa fa-google fa-lg" aria-hidden="true"></i> 
      
      Log in with Google
  <% end %>
  
  <div class="login-alternative">
    <span class="login-alternative-text">Or</span>
    <div class="login-alternative-line"></div>
  </div>
  
  <div class="form-element">
    
    <%= f.email_field :email, 
                      placeholder: "Email address", 
                      class: 'form-control 
                              form-control-secondary 
                              login-form-control' %>
    
    <i class="fa fa-envelope-open-o fa-lg form-icon" 
       aria-hidden="true"></i>
  </div>

  <%= f.submit "Log In", class: "btn btn-primary" %>
<% end %>