<!--complete-->

<% provide(:title, "Log In") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="credentials">
  <h1 class="credentials-title">Log in to your Dealership.com account</h1>
  <%= render 'new_form' %>
</div>