<!--completed-->

<% provide(:title, "Log In") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="credentials">
  
  <h1 class="credentials-title">Log in to your Mototrova account</h1>
  
  <div class="credentials-form">
    <div class="row">
      
      <div class="col-xs-7">
        <%= render 'form' %>
      </div>
    
      <div class="col-xs-5">

        <span class="reassurance-copy-title">Why you'll love it...</span>
        
        <ul class="reassurance-copy-info">
          
          <li>
            Browse profile pics, reviews, and more to learn about buyers and 
            sellers before meeting them.
          </li>
          
          <li>
            In-app messaging allows contact information to be kept private 
            until you decide to share it.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>