<!--complete-->

<% provide(:title, "Reset Password") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="reset-password">
  <h1 class="reset-password-title">Reset Password</h1>
  <%= render 'edit_form' %>
</div>