<!--completed-->

<div class="forum-post">
        
  <span class="forum-post-title">Community Center</span>
  
  <p class="forum-post-info">
    Connect with motorcycle enthusiasts, share stories, ask for advice, and 
    get updades from the Motominion team.
  </p>
  
  <%= link_to "Start A Conversation", 
              new_discussion_path(club_id: nil), 
              class: "btn btn-green" %>
</div>