<h1>The Magic Link | Motominion</h1>

<p>
  Here's that magic link that we promised you. Happy bike hunting!
</p>

<%= link_to "Log Me In!", edit_account_activation_url(@user.activation_token,
                                                      email: @user.email) %>