<% provide(:title, "Motorcycle Insurance") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="blog">
  <div class="blog-content">
    
    <div class="article-hero", 
         style="background-image: url('https://images.unsplash.com/photo-1541417770319-381fc687373c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')">
      
      <div class="article-hero-title">
        <div class="row vertical-align">
        
          <div class="col-md-2">
            <div class="article-hero-avatar avatar-general", 
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/logo.png')">
            </div>
          </div>
          
          <div class="col-md-10">
            <h1 class="article-heading">Motorcycle Insurance</h1>
            <span class="article-author">Team Motominion</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="article-content">
      
      <h2 class="article-subheading">Motorcycle Insurance</h2>
      
      <p>
        Insuring your motorcycle is a must. Without a protective metal cage, motorcycle riders are completely exposed to external forces. Therefore, they are at a much higher risk of accident and injury than automobile drivers. Other drivers on the road are also more likely to be unaware of a motorcycle's presence near them due to its size.  It is important for anyone who wants to own a motorcycle to have an insurance policy.  There are many different types of insurance policies out there and as a motorcyclist you should do your homework when finding the right one for you.   There are many motorcycle insurance tools and resources out there that can help in the process.  One item that you should consider is the value working with a personal insurance agent can bring to your policy.
      </p>
      
      <p>
        In most states it is illegal to drive uninsured vehicles and insurance policies are usually required to obtain and maintain proper vehicle registration. If an uninsured driver gets pulled over by the police, that driver risks losing his or her license and will likely face a steep fine. Also, an uninsured driver who causes an accident will be expected to pay for the other driver’s medical bills and/or vehicle repairs. Being covered by a motorcycle insurance company will make sure your wallet is protected. Motorcycle insurance is meant to act as a shield for people when they are involved in accidents or their motorcycle is damaged. It is a contract between the driver and the insurance company, promising that the insurance company will cover the rider in the event of a collision as long as the premiums are paid. Ultimately, insurance generally makes everyone feel more comfortable getting on the road.  When purchasing a motorcycle there are a number of factors to consider outside of motorcycle insurance: tips for buying a motorcycle.
      </p>
      
      <p>
        Motorcycle insurance is generally inexpensive—particularly when compared to automobile insurance—and can usually be purchased through the same company that you use to insure your car or other vehicles. There are also many ways to obtain discounts or control the cost of your insurance policy. How often the motorcycle is driven can factor into the decision making of choosing the best policy. If the motorcycle is the primary mode of transportation, a policy that provides comprehensive coverage would be advisable. Someone who only rides his or her motorcycle occasionally—during warm weather seasons, for instance—may be eligible to purchase a less expensive policy with lower coverage amounts. Each individual will need to make his or her own personal decision which coverage best suits their budget and needs.
      </p>
      
      <p>
        Be sure to research various insurance policies. Much like car insurance, the brand, age, size, and style of motorcycle can factor into the cost of insurance. Policies for more expensive bikes generally cost significantly more than policies for cheaper bikes. The good news is that is so easy to find good insurance rates online. Every company will quote different rates based on the owner’s circumstances, type of motorcycle, and location. Be sure to shop around and get quotes from multiple providers to find the policy that fits you best!   
      </p>
      
      <p>
        Understanding your motorcycle insurance policy can also help when you decide to sell your motorcycle.  The new owner may inquire what type of policy you carried as the owner of the bike to ensure the new purchase fits inside of their budget.  Tips for selling your motorcycle.
      </p>
    </div>
  </div>
</div>