<% provide(:title, "Legal") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="blog">
  <div class="blog-content">
    
    <div class="article-hero", 
         style="background-image: url('https://images.unsplash.com/photo-1542578623-71aad138a007?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">
      
      <div class="article-hero-title">
        <div class="row vertical-align">
        
          <div class="col-md-2">
            <div class="article-hero-avatar avatar-general", 
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/logo.png')">
            </div>
          </div>
          
          <div class="col-md-10">
            <h1 class="article-heading">Legal</h1>
            <span class="article-author">Team Motominion</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="article-content">
      
      <h2 class="article-subheading">Legal</h2>
      
      <p class="article-info">
        As motorcyclists, we all know the freedom we feel for life on two wheels. Yet, we are often faced with being the underdog on the road since we are less visible and more vulnerable. Knowing your legal rights and the ways in which you can protect yourself as a motorcyclist is key to your longevity and safety as a rider. Russ Brown Motorcycle Attorneys provide a wealth of information on protecting yourself and your prized bike from road hazards. If you ever find yourself in an accident, call 1-800-4-BIKERS for free legal advice.
      </p>
    </div>
  </div>
</div>