<% provide(:title, "Loans and Financing") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="blog">
  <div class="blog-content">
    
    <div class="article-hero", 
         style="background-image: url('https://images.unsplash.com/photo-1508501493333-1fc489ca6b0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80')">
      
      <div class="article-hero-title">
        <div class="row vertical-align">
        
          <div class="col-md-2">
            <div class="article-hero-avatar avatar-general", 
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/logo.png')">
            </div>
          </div>
          
          <div class="col-md-10">
            <h1 class="article-heading">Loans and Financing</h1>
            <span class="article-author">Team Motominion</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="article-content">
      
      <h2 class="article-subheading">Loans and Financing</h2>
      
      <p>
        Looking for financing options for a Harley-Davidson, Honda, Yamaha, Suzuki, or any other OEM motorcycle? The finance center allows you to research multiple motorcycle loan providers in a single location.
        Below are just a few popular options:
        Dealer Financing: A majority of motorcycle dealerships offer financing directly to consumers. Available interest rates depend on you (the applicant) and are largely dependent on your credit history. If you intend to finance your next motorcycle, the first thing you should do is obtain your most recent Credit Score. Understand, build & manage your credit with CycleTrader's Credit Center.
        OEM Financing: Motorcycle manufacturers (OEMs) often have financing options available to consumers that purchase new motorcycles. Once again, remember that interest rates fluctuate based upon your credit history, financial standing and whether the OEM is currently offering a financing promotion.
        Credit Card: If you already have an existing credit card with a high credit limit, you can usually complete your motorcycle purchase using that credit card. The benefits include no credit checks or financing applications. Be aware of the current interest rate on your credit card, and explore other financing options to ensure that you're getting the best deal.
        Personal Loan: Your local banking institution or credit union may offer motorcycle loans. You may qualify for reduced interest rate loans if you add another policy to the same account or if you already have a mortgage loan held by the bank or credit card. Calling your bank or credit union the best way to find out about your options!  It never hurts to ask!
        Payment Calculator: Estimate your monthly payment with our Loan Calculator.
      </p>
    </div>
  </div>
</div>