<% provide(:title, "Motorcycle Tours and Rentals") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="blog">
  <div class="blog-content">
    
    <div class="article-hero", 
         style="background-image: url('https://images.unsplash.com/photo-1541973754640-962f89e7dbc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">
      
      <div class="article-hero-title">
        <div class="row vertical-align">
        
          <div class="col-md-2">
            <div class="article-hero-avatar avatar-general", 
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/logo.png')">
            </div>
          </div>
          
          <div class="col-md-10">
            <h1 class="article-heading">Motorcycle Tours and Rentals</h1>
            <span class="article-author">Team Motominion</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="article-content">
      
      <h2 class="article-subheading">Motorcycle Tours and Rentals</h2>
      
      <p>
        Find the perfect motorcycle rental or tour package for your next cycle adventure!
        Rental companies can provide you with the latest choppers, cruisers, sportbikes and more. Find rentals anywhere from Sturgis, South Dakota to California's coastal highway, from the Florida Keys to the Arizona deserts, and from Wisconsin's north woods to the shores of New England.
        Want to take a road trip but don't know where to start? Relax and let a motorcycle tour company plan out the best ride of your life. These companies specialize in finding the most beautiful scenery, great food, and fun rides to be had anywhere.
        Grand Canyon on your bucket list? We got it. Want to get your kicks on Route 66? Done. Wherever you want to go, chances are good there is a reputable motorcycle tour company nearby. Find them all here at CycleTrader.com.
        You can also find information about riding schools throughout the country. Have a story about your favorite cycle tour? Tell us about it at news@cycletrader.com     
      </p>
    </div>
  </div>
</div>