<% provide(:title, "Motorcycle Repair") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="blog">
  <div class="blog-content">
    
    <div class="article-hero", 
         style="background-image: url('https://images.unsplash.com/photo-1533709896227-66c686ee7e61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')">
      
      <div class="article-hero-title">
        <div class="row vertical-align">
        
          <div class="col-md-2">
            <div class="article-hero-avatar avatar-general", 
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/logo.png')">
            </div>
          </div>
          
          <div class="col-md-10">
            <h1 class="article-heading">Motorcycle Repair</h1>
            <span class="article-author">Team Motominion</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="article-content">
      
      <h2 class="article-subheading">Motorcycle Repair</h2>
      
      <p>
        Motorcycle engine manuals are a must for any motorcycle rider.
        Familiarizing yourself with your motorcycle, inside and out, will help you detect minor hiccups before they become major problems. It will also prevent you from being ripped off by unscrupulous repair shops who assume most riders don't know a pinion from pillion.
        In addition, you will gain valuable skills with practical, everyday applications, as well as a sense of pride in your knowledge and accomplishments. Find the best motorcycle mechanic training available. Learn to repair new and used motorcycles with manufacturer-specific courses via resources at CycleTrader.com.
        Search for popular Clymer repair manuals:
        BMW
        Ducati
        Harley Davidson
        Honda
        Husqvarna
        Kawasaki
        Moto Guzzi
        Royal Enfield
        Suzuki
        Triumph
        Yamaha      
      </p>
    </div>
  </div>
</div>