<% provide(:title, "Parts and Accessories") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="blog">
  <div class="blog-content">
    
    <div class="article-hero", 
         style="background-image: url('https://images.unsplash.com/photo-1479909013849-e16a7dd14323?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80')">
      
      <div class="article-hero-title">
        <div class="row vertical-align">
        
          <div class="col-md-2">
            <div class="article-hero-avatar avatar-general", 
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/logo.png')">
            </div>
          </div>
          
          <div class="col-md-10">
            <h1 class="article-heading">Parts and Accessories</h1>
            <span class="article-author">Team Motominion</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="article-content">
      
      <h2 class="article-subheading">Parts and Accessories</h2>
      
      <p>
        1.  Buy Parts, Accessories, Apparel & Gear in our new marketplace.  Both dealers and private sellers can reach potential motorcycle owners looking for that perfect part and/or accessory. From battery covers to repair manuals, lights to leathers, CycleTrader's new Parts, Accessories, Apparel & Gear marketplace has what you're looking for. Get started today! 
        Sell your Motorcycle Parts, Accessories, Apparel or Gear on CycleTrader
        Check out Parts, Accessories, Apparel & Gear for Sale on CycleTrader      </p>
      </p>
      
      <p>
        2.  Want to know the latest and greatest in motorcycle products and accessories? Look no further for the perfect motorcycle gifts.
        Helmets & Helmet Accessories such as decals, lights, face shields that are scratch resistant, anti-fog, helmet products that improve airflow or increase ventilation
        Electronic Products- Neon & LED lights, intercom/radio products, alarms & immobilizers, GPS systems
        Tools/Cleaning/Workshop- work benches & tool storage, motorcycle garages & sheds, motorcycle hand tools, battery chargers, motorcycle stands & bike lifts, degreasing products, cleaning cloths
        Other- Gear, Cooling vests, Soft luggage, Eyewear, Goggles, Harley-Davidson collectibles, shoe protectors and more.
      </p>
      
      <p>
        3.  MAKE SURE YOU'RE WELL-PROTECTED WHILE YOU RIDE: INVEST IN QUALITY SAFETY GEAR.  YOU'LL BE GLAD YOU DID.
        High quality gear has 5 main qualities that you want to look for:
        Fits appropriately - Find just the right size. Many items are adjustable or stretch to fit, such as balaclavas, gloves, and thermals.
        Impermeable - Especially if you find yourself caught in the elements, you want to make sure that your gear is waterproof.
        Free of defects - This means no cracked helmets, broken zippers, holey jeans, missing straps, etc.
        Bright - Anything you can do to help yourself be seen on the road is a plus, especially when riding after sundown.
        Allows movement - Uncomfortable gear can restrict your movements and slow your reaction time.
        And if you want to make sure you look the part while you're out on two wheels, there is virtually no limit to your options in leather jackets or vests, leather chaps and pants, boots, gloves, helmets, rain suits, leather care products and much, much more.
        Find Motorcycle Gear & Apparel
      </p>
      
      <p>
        4.  Customize your Motorcycle
        Whether you have a sportbike, cruiser or dirtbike, you may already have a vision of how your motorcycle should look? Why not Customize it? These sponsored resources can assist you. Everyone will be crowding around your bike wishing it were theirs! 
        If you're looking to customize your motorcycle, here are some ways to give your ride some personality:
        Motorcycle Paint/Graphics- add flames, skulls, lightning bolts, or other decals or change the look of your bike with custom paint
        Motorcycle Parts/Accessories- add custom seats, custom handle bars, back rests, foot pegs, mirrors, exhaust pipes, wheels, tires, lowering kits, gas caps, navigators, swing arms, sidecars and plenty of other custom products
        Build yourself a chopper- Truly build your bike with a chopper kit
        Customize your riding apparel to match your bike- Helmets, Jackets, Boots and more
        Find Custom Motorcycles For Sale
        Any motocross rider needs the best resources possible for their riding career or hobby. Make sure you have the right gear, rims, tires, handlebars, grips, plastics, graphics, suspensions, exhaust, engine modifications, motors, concept haulers, and videos. Whether you're racing or free style, you can find all your motocross, dirt bike resources here.  Check out CycleTrader's Supercross & Motocross Race Team      </p>
    </div>
  </div>
</div>