<% provide(:title, "Shipping") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="blog">
  <div class="blog-content">
    
    <div class="article-hero", 
         style="background-image: url('https://images.unsplash.com/photo-1506424482693-1f123321fa53?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1592&q=80')">
      
      <div class="article-hero-title">
        <div class="row vertical-align">
        
          <div class="col-md-2">
            <div class="article-hero-avatar avatar-general", 
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/logo.png')">
            </div>
          </div>
          
          <div class="col-md-10">
            <h1 class="article-heading">Shipping</h1>
            <span class="article-author">Team Motominion</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="article-content">
      
      <h2 class="article-subheading">Shipping</h2>
      
      <p>
        “…most bids were well below what I expected to pay. The bidder that I chose did the job quickly, professionally, and for a price I am very happy with. The experience was much better than I could have dreamed.”
        -Jon F.
        “uShip was excellent and made it very easy to do the entire shipment, from listing it to picking the company and completing the process…. I would use uShip again and will recommend it to everyone I can.”
        -Marc G.    
      </p>
    </div>
  </div>
</div>