<% provide(:title, "Warranties and Roadside Assistance") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/modal_search' %>

<%= render 'layouts/modal_menu' %>

<div class="blog">
  <div class="blog-content">
    
    <div class="article-hero", 
         style="background-image: url('https://images.unsplash.com/photo-1519868112-25e427421b77?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1575&q=80')">
      
      <div class="article-hero-title">
        <div class="row vertical-align">
        
          <div class="col-md-2">
            <div class="article-hero-avatar avatar-general", 
                 style="background-image: url('https://s3.us-east-2.amazonaws.com/motominion-assets/static-assets/logo.png')">
            </div>
          </div>
          
          <div class="col-md-10">
            <h1 class="article-heading">Warranties and Roadside Assistance</h1>
            <span class="article-author">Team Motominion</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="article-content">
      
      <h2 class="article-subheading">Warranties and Roadside Assistance</h2>
      
      <p class="article-info">
        Nobody expects to need roadside assistance before hitting the open road, but being prepared is always a good idea. Make sure you motorcycle is covered with the proper warranty. Learn more about preventive measures and companies that can help with motorcycle warranties & emergency roadside assistance.   
      </p>
    </div>
  </div>
</div>