<%= form_for @user do |f| %>

  <div class="profile-pic-form">
    <div class="row profile-pic-form-content">
      
      <div class="col-md-4 profile-pic">
        <%= image_tag @user.avatar.url, class: "uploaded-photo" %>
      </div>
      
      <div class="col-md-6 col-md-offset-1">
      
        <p class="upload-instructions">
          Clear frontal face photos are an important part of maintaining trust 
          within our community.
        </p>
        
        <div class="upload-button">
          
          <div class="upload-button-content">
            Upload Photo
          </div>
          
          <%= f.file_field :avatar, class: "upload-hidden" %>
        </div>
      </div>
      
      <div class="col-md-1">
        <!--intentionally left empty-->
      </div>
    </div>
  </div>
  
  <div class="profile-pic-button">
    <%= f.submit "Save Changes", 
                 class: "btn btn-green btn-profile-pic", 
                 disabled: true %> 
  </div>
<% end %>