<%= form_for @user do |f| %>

  <div class="profile-pic-form">
    <div class="row profile-pic-form-content">
      
      <div class="col-md-4">
        <div class="row">
          
          <div class="col-md-10 profile-pic-container">
            <%= image_tag @user.avatar.url, class: "avatar" %>
          </div>
          
          <div class="col-md-2">
            <!--intentioanlly left empty-->
          </div>
        </div>
      </div>
      
      <div class="col-md-8">
      
        <p class="avatar-instructions-text">
           Clear frontal face photos are an important 
              to instill trust in our community. Upload a 
              profile pic before communicating with buyers and sellers.
        </p>
        
        <div class="button-container">
          
          <div class="avatar-instructions-button">
            Upload Photo
          </div>
          
          <%= f.file_field :avatar, class: "avatar-upload" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="signup-button">
    <%= f.submit "Save Changes", 
                 class: "btn btn-green btn-update btn-profile-pic", 
                 disabled: true %> 
  </div>
<% end %>