<% provide(:title, 'Sign Up') %>
<% provide(:button_text, 'Create Account') %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="content-container">
  <h1 class="content-title">Create your Dealership.com account now</h1>
  <%= render 'form' %>
</div>