<!--complete-->

<% provide(:title, 'Sign Up') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="signup">
  <h1 class="signup-title">Create your Dealership.com account now</h1>
  <%= render 'new_form' %>
</div>