<!--completed-->

<% provide(:title, 'Sign Up') %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="credentials">
  <h1 class="credentials-title">Create your Mototrova account now</h1>
  <%= render 'new_form' %>
</div>