<!--<(perc)= form_for(@comment) do |f| %>-->
<!--  <(perc)= render 'shared/error_messages', object: f.object %>-->
<!--  <div class="field">-->
<!--    <(perc)= f.text_area :title,   placeholder: "Compose a title..." %>-->
<!--    <(perc)= f.text_area :content, placeholder: "Compose a comment..." %>-->
<!--  </div>-->
<!--  <(perc)= f.submit "Post", class: "btn btn-primary" %>-->
<!--<(perc) end %>-->