<!--<(perc)= link_to gravatar_for(current_user, size: 50), current_user %>-->
<!--<h1><(perc)= current_user.name %></h1>-->
<!--<span><(perc)= link_to "view my profile", current_user %></span>-->
<!--<span><(perc)= pluralize(current_user.comments.count, "comment") %></span>-->