<!--complete-->

<h1>Test Drive Request | Dealership.com</h1>

<p>Hi <%= @seller.name %>,</p>

<p>
You just received a test drive request! Click on the link below to view details:
</p>

<%= link_to "Test Drive Request", test_drives_url %>

<!--change Dealership.com-->
<!--test_drives_path should specify which user-->
<!--should be customers_path, not test_drives_path-->