<!--complete-->

<h1>Test Drive Request | Dealership.com</h1>

<p>Hi <%= @seller.name %>,</p>

<p>
You just received a test drive request for 
<strong><%= @vehicle.listing_name %></strong>! Click on the link below to view 
the details:
</p>

<%= link_to "Test Drive Request", 
            conversation_messages_url(@conversation) %>

<!--change Dealership.com-->
<!--test_drives_path should specify which user-->
<!--should be customers_path, not test_drives_path-->