<h1>Write A Review | Mototrova</h1>

<p>Hi <%= @buyer %>,</p>

<p>
  Tell <%= @seller %> what you loved and what they can do 
  better.
</p>

<p>
  You just completed a test drive with <%= @seller %>, so now is the perfect 
  time to write your review.
</p>

<p>
  Reviews are an important part of the Mototrova community. Please take a
  moment to provide the seller with some helpful feedback; it will only take a
  few minutes.
</p>

<%= link_to "Write A Review", 
            vehicle_url(@vehicle, anchor: "reviews") %>