<h1>You Received A Review! | Motominion</h1>

<p>Hi <%= @review.reviewed.first_name %>,</p>

<p>
  You just received a review from 
  <strong><%= @review.reviewer.first_name %></strong> 
  for your listing, <strong><%= @review.vehicle.listing_name %></strong>. Click 
  on the link below to view the details:
</p>

<%= link_to "See Review", user_reviews_url(@review.reviewed) %>