<% provide(:title, "Vehicle Purchase") %>

<header class="header-static-gray">
  <%= render 'layouts/header_secondary' %>
</header>

<div class="credentials">
  <h1 class="credentials-title">Complete your vehicle purchase</h1>
  <%= render 'new_form' %>
</div>