<!--<perc provide(:title, "Vehicle Purchase") perc>-->

<!--<header class="header-static-gray">-->
<!--  <perc= render 'layouts/header_secondary' perc>-->
<!--</header>-->

<!--<div class="credentials">-->
<!--  <h1 class="credentials-title">Complete your vehicle purchase</h1>-->
<!--  <perc= render 'new_form' perc>-->
<!--</div>-->