<h1>You Received A Message! | Mototrova</h1>

<p>Hi <%= @recipient.first_name %>,</p>

<p>
  You just received a message from <strong><%= @sender.first_name %></strong>. 
  Click on the link below to view the details:
</p>

<%= link_to "View Message", conversation_messages_url(@conversation) %>