<h1>You Received A Question! | Dealership.com</h1>

<p>Hi <%= @question.vehicle.user.name %>,</p>

<p>
  You just received a question about your listing, 
  <strong><%= @question.vehicle.listing_name %></strong>, from 
  <strong><%= @question.user.name %></strong>. Click on the link below to view 
  the details:
</p>

<%= link_to "View Question", questions_url %>