<!--http://stackoverflow.com/questions/25474329/how-to-preview-uploaded-image-instantly-with-paperclip-in-ruby-on-rails-->

<% if @photos %>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4">
        <div class="new-vehicle-photo">
          <%= image_tag photo.image.url(), class: "img_preview" %>
          <%= link_to photo, remote: true, method: :delete, 
              data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-times fa-lg"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="col-md-4">
      
    </div>
  </div>
<% end %>

<script type="text/javascript">
  // photo scaling
  $('.new-vehicle-gallery').imagesLoaded( function() {
    $('.new-vehicle-photo').imagefill(); 
    $('#target').imagefill(); 
  });
</script>