<!--completed-->
<!--http://stackoverflow.com/questions/25474329/how-to-preview-uploaded-image-instantly-with-paperclip-in-ruby-on-rails-->

<% if @photos %>
  <div class="row new-vehicle-gallery">
    
    <% @photos.each do |photo| %>
      <div class="col-md-4 new-vehicle-photo-container">
        
        <div class="new-vehicle-photo">
          <img src="<%= photo.image.url() %>"
               class="rotatable-image"
               data-rotate="<%= photo.rotation %>" />
        </div>
        
        <!--<(perc)= link_to rotate_vehicle_photo_path(photo.vehicle_id, photo),-->
        <!--            method: :put do %>-->
        <!--  <i class="fa -->
        <!--            fa-repeat -->
        <!--            fa-2x -->
        <!--            rotate-photo-icon" aria-hidden="true"></i>-->
        <!--<(perc) end %>-->
        
        <!--<(perc)= link_to rotate_vehicle_photo_path(photo.vehicle_id, photo),-->
        <!--            method: :put do %>-->
        <!--  <i class="fa fa-repeat fa-2x rotate-photo-icon"></i>-->
        <!--<(perc) end %>-->
        
        <%= link_to vehicle_photo_path(photo.vehicle_id, photo), 
                    remote: true, 
                    method: :delete, 
                    data: { confirm: "Are you sure?" } do %>
          <i class="fa fa-trash-o fa-2x remove-photo-icon"></i>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>