<div class="modal" id="modal-special-offer" role="dialog">
  
  <div class="modal-special-offer-header">
    
    <i class="fa fa-times fa-lg btn-modal-special-offer" 
       aria-hidden="true" 
       data-dismiss="modal"></i>
    
    <div class="row modal-special-offer-header-content vertical-align">
      
      <div class="col-md-4">
        <%= image_tag("https://s3.us-east-2.amazonaws.com/online-dealership-assets/static-assets/tour-sold.png") %>
      </div>
      
      <div class="col-md-8">
        <h1 class="modal-special-offer-title">Special Offer</h1>
      </div>
    </div>
  </div>
  
  <div class="modal-special-offer-body">
    <div class="modal-special-offer-body-content">
      
      <h2 class="modal-special-offer-subtitle">
        Receive $250 Cashback
      </h2>
      
      <span class="modal-special-offer-info">
        If you purchase online, receive $250 cashback when you order!
      </span>
      
      <!--<input type="text" name="vehicleId" id="vehicleId" value=""/>-->
    </div>
  </div>
</div>