<div class="row feed-list">
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed6.jpg')">
          <div class="feed-item-credit">
            <span>Jaguar</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-image feed-item-icon" aria-hidden="true"></i>
            The Striking Jaguar XK 120 Is a Good Investment for Vintage 
            Car Lovers
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            The Jaguar XK 120 is the perfect example of what a prototype should 
            do.
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>2 minutes ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>252 Saves | 1 Question</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed8.jpg')">
          <div class="feed-item-credit">
            <span>Chris Ratcliffe, Bloomberg Pursuits</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-tag feed-item-icon" aria-hidden="true"></i>
            Aston Martin Now Has a $4,000 Stroller and a Yacht for Dad
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            The Aston brand can always be in sight. Other items include leather 
            weekend bags (£1,100), laptop holders (£690) and smaller cases 
            (£400). More items are in development.
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>30 minutes ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>672 Saves | 2 Questions</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <div class="col-md-4 feed-item">
    <%= link_to '#' do %>
      <div class="feed-item-content">
        
        <div class="feed-item-image", 
             style="background-image: url('/assets/feed9.jpg')">
          <div class="feed-item-credit">
            <span>Timothy Coulter, Bloomberg Pursuits</span>
          </div>
        </div>
        
        <div class="feed-item-title">
          <p>
            <i class="fa fa-users feed-item-icon" aria-hidden="true"></i>
            Bikes So Beautiful You Have to Wait Months to Get One
          </p>
        </div>
        
        <div class="feed-item-info">
          <p>
            Caren Hartley works out of Peckham, south London.
          </p>
          
          <div class="feed-item-stats">
            <div class="feed-item-time">
              <span>35 minutes ago</span>
            </div>
            <div class="feed-item-saves pull-right">
              <span>514 Saves | 2 Questions</span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>