<div class="row nested-fields">

  <div class="col-md-8">
    
    <div class="form-element">
      
      <%= f.select :title,
                   [ "Extended Service Contract", "Wheel and Tire Care", 
                     "Ding and Dent Care", "Key Replacement", 
                     "ResistAll Protection" ],
                   { include_blank: true, prompt: "Upgrade" },
                   class: "form-control select-primary" %>
      
      <i class="fa fa-wrench fa-lg form-icon" 
         aria-hidden="true"></i>
               
      <i class="fa fa-caret-down fa-lg form-caret" 
         aria-hidden="true"></i>
    </div>

    <div class="row">
      
      <div class="col-md-6 form-element">       
        <div class="input-group">
          
          <%= f.text_field :duration,
                           placeholder: "Eg. 5",
                           class: "form-control form-control-primary",
                           required: true %>
          
          <div class="input-group-addon">years</div>
        </div>
      </div>
      
      <div class="col-md-6 form-element">
        <div class="input-group">
          
          <div class="input-group-addon">$</div>
          
          <%= f.text_field :price, 
                           placeholder: "Eg. 1 000", 
                           class: "form-control form-control-primary",
                           required: true %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 availability-link">
    <%= link_to_remove_association "- Remove Upgrade", f %>
  </div>
</div>

<!--<= form_for @vehicle do |f| %>-->
<!--  <= f.fields_for :vehicle_upgrades do |upgrade| %>-->
    
<!--    <span class="installed-options-title">-->
<!--      Extended Service Contract-->
<!--    </span>-->
    
<!--    <= upgrade.hidden_field :title, -->
<!--                             value: "Extended Service Contract" %>-->
    
<!--    <span class="club-profile-hero-info">-->
<!--      Covers your vehicle in the event of mechanical failure beyond the-->
<!--      warranty period.-->
<!--    </span>-->
                             
<!--    <= upgrade.hidden_field :description, -->
<!--                             value: "Covers your vehicle in the event of mechanical failure beyond the warranty period." %>-->
    
<!--    <div class="row">-->
      
<!--      <div class="col-md-6 form-group">-->

<!--        <= upgrade.label :duration %>-->
        
<!--        <div class="input-group">-->
          
<!--          <= upgrade.select :duration, -->
<!--                       1..12,-->
<!--                       { include_blank: true, -->
<!--                         prompt: "Select duration" }, -->
<!--                       class: "form-control select-secondary" %>-->
          
<!--          <div class="input-group-addon">year(s)</div> -->
             
<!--          <i class="fa fa-caret-down fa-lg select-caret" -->
<!--             aria-hidden="true"></i>-->
<!--        </div>-->
<!--      </div>-->
      
<!--      <div class="col-md-6 form-group">-->

<!--        <= f.label :price %>-->
        
<!--        <div class= "input-group">-->
          
<!--          <div class="input-group-addon">$</div>-->
          
<!--          <= f.text_field :price, -->
<!--                           placeholder: "Eg. 100 000", -->
<!--                           class: "form-control form-control-primary" %>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  < end %>-->
  
<!--  <= f.fields_for :vehicle_upgrades do |upgrade| %>-->
    
<!--    <span class="installed-options-title">Wheel and Tire Care</span>-->
    
<!--    <= upgrade.hidden_field :title, -->
<!--                             value: "Wheel and Tire Care" %>-->
    
<!--    <span class="club-profile-hero-info">-->
<!--      First class wheel and tire protection. Repairs or replaces tire-->
<!--      and wheel due to damage from road hazards.-->
<!--    </span>-->
                             
<!--    <= upgrade.hidden_field :description, -->
<!--                             value: "First class wheel and tire protection. Repairs or replaces tire and wheel due to damage from road hazards." %>-->
    
<!--    <div class="row">-->
      
<!--      <div class="col-md-6 form-group">-->

<!--        <= upgrade.label :duration %>-->
        
<!--        <div class="input-group">-->
          
<!--          <= upgrade.select :duration, -->
<!--                       1..12,-->
<!--                       { include_blank: true, -->
<!--                         prompt: "Select duration" }, -->
<!--                       class: "form-control select-secondary" %>-->
          
<!--          <div class="input-group-addon">year(s)</div> -->
             
<!--          <i class="fa fa-caret-down fa-lg select-caret" -->
<!--             aria-hidden="true"></i>-->
<!--        </div>-->
<!--      </div>-->
      
<!--      <div class="col-md-6 form-group">-->

<!--        <= f.label :price %>-->
        
<!--        <div class= "input-group">-->
          
<!--          <div class="input-group-addon">$</div>-->
          
<!--          <= f.text_field :price, -->
<!--                           placeholder: "Eg. 100 000", -->
<!--                           class: "form-control form-control-primary" %>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  < end %>-->
  
<!--  <= f.fields_for :vehicle_upgrades do |upgrade| %>-->
    
<!--    <span class="installed-options-title">Ding and Dent Care</span>-->
    
<!--    <= upgrade.hidden_field :title, -->
<!--                             value: "Ding and Dent Care" %>-->
    
<!--    <span class="club-profile-hero-info">-->
<!--      A paintless dent repair process that repairs minor dents and dings-->
<!--      that do not compromise the vehicle's paint.-->
<!--    </span>-->
                             
<!--    <= upgrade.hidden_field :description, -->
<!--                             value: "A paintless dent repair process that repairs minor dents and dings that do not compromise the vehicle's paint." %>-->
    
<!--    <div class="row">-->
      
<!--      <div class="col-md-6 form-group">-->

<!--        <= upgrade.label :duration %>-->
        
<!--        <div class="input-group">-->
          
<!--          <= upgrade.select :duration, -->
<!--                       1..12,-->
<!--                       { include_blank: true, -->
<!--                         prompt: "Select duration" }, -->
<!--                       class: "form-control select-secondary" %>-->
          
<!--          <div class="input-group-addon">year(s)</div> -->
             
<!--          <i class="fa fa-caret-down fa-lg select-caret" -->
<!--             aria-hidden="true"></i>-->
<!--        </div>-->
<!--      </div>-->
      
<!--      <div class="col-md-6 form-group">-->

<!--        <= f.label :price %>-->
        
<!--        <div class= "input-group">-->
          
<!--          <div class="input-group-addon">$</div>-->
          
<!--          <= f.text_field :price, -->
<!--                           placeholder: "Eg. 100 000", -->
<!--                           class: "form-control form-control-primary" %>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  < end %>-->
  
<!--  <= f.fields_for :vehicle_upgrades do |upgrade| %>-->
    
<!--    <span class="installed-options-title">Key Replacement</span>-->
    
<!--    <= upgrade.hidden_field :title, -->
<!--                             value: "Key Replacement" %>-->
    
<!--    <span class="club-profile-hero-info">-->
<!--      Replaces lost, stolen, or destroyed keys.-->
<!--    </span>-->
                             
<!--    <= upgrade.hidden_field :description, -->
<!--                             value: "Replaces lost, stolen, or destroyed keys." %>-->
    
<!--    <div class="row">-->
      
<!--      <div class="col-md-6 form-group">-->

<!--        <= upgrade.label :duration %>-->
        
<!--        <div class="input-group">-->
          
<!--          <= upgrade.select :duration, -->
<!--                       1..12,-->
<!--                       { include_blank: true, -->
<!--                         prompt: "Select duration" }, -->
<!--                       class: "form-control select-secondary" %>-->
          
<!--          <div class="input-group-addon">year(s)</div> -->
             
<!--          <i class="fa fa-caret-down fa-lg select-caret" -->
<!--             aria-hidden="true"></i>-->
<!--        </div>-->
<!--      </div>-->
      
<!--      <div class="col-md-6 form-group">-->

<!--        <= f.label :price %>-->
        
<!--        <div class= "input-group">-->
          
<!--          <div class="input-group-addon">$</div>-->
          
<!--          <= f.text_field :price, -->
<!--                           placeholder: "Eg. 100 000", -->
<!--                           class: "form-control form-control-primary" %>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  < end %>-->
<!--< end %>-->