<!--completed-->

<% provide(:title, "New Vehicle") %>

<header class="header-normal">
  <%= render 'layouts/header_secondary' %>
</header>

<%= render 'layouts/hero_backend' %>

<div class="post-vehicle">
  <div class="post-vehicle-content">
    
    <div class="instructions">
      <div class="instructions-content">
        <div class="row vertical-align">
          
          <div class="col-xs-2 instructions-icon">
            <i class="fa fa-rocket fa-5x" aria-hidden="true"></i>
          </div>
          
          <div class="col-xs-7">
            
            <h2 class="instructions-title">Accelerate Your Sale</h2>
            
            <p class="instructions-info">
              Now you need to complete your listing. Our guide will make sure 
              that you attract the most promising customers as quickly as 
              possible.
            </p>
          </div>
          
          <div class="col-xs-3">
            <!--intentionally left empty-->
          </div>
        </div>
      </div>
    </div>
    
    <%= render 'form' %>
  </div>
</div>