// bootstrap-slider included in both custom.css.scss and application.css; necessary?

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-slider";

/* mixins, variables, etc. */

$gray-transparent:    rgba(54, 55, 58, 0.75);
$gray-border:         #e7e7e7;
$gray-modal:          #262626;
$gray-modal-controls: #cccccc;
$gray-social-media:   #19202d;
$gray-lightest:       #f9f9f9;
$gray-lighter:        #eaeaea;
$gray-light:          #c8c9cb;
$gray-dark:           #9e9e9e;
$gray-darker:         #63656a;
$gray-darkest:        #36373a;
$yellow-dark:         #fcce01;
$green:               #38b2a6;
$green-dark:          #2b948a;

$gray-text:           #4c4c4c;
$gray-hero:           #4b4c50;
$green-text:          #52ccc0;
$blue:                #6d7fb4;
$red:                 #fd8649;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* layout */

.page-container {
  height: 100%;
  width: auto;
  padding: 0;
  position: relative;
}

.content-container {
  max-width: 1008px;
  padding: 3.5em 0;
  margin: 0 auto;
}

.content-title {
  font-size: 2.1em;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.5px;
  text-align: center;
  color: $gray-text;
  margin: 0 0 0.67em;
}

/* typography */

p, 
span {
  font-size: 1.1em;
  letter-spacing: 0.1px;
  line-height: 1.4;
  color: $gray-text;
}

p {
  text-align: center;
  margin: 1.1em 0;
  a {
    color: $gray-text;
    border-bottom: 1px solid $gray-text;
    &:hover {
      color: $gray-text;
      text-decoration: none;
    }
  }
}

/* header */

.navbar {
  border: none;
  margin: 0 3em;
  position: relative;
}

.navbar-nav {
  font-size: 1.105em;
  font-weight: bold;
  li > a {
    color: white;
    cursor: pointer;
    &:hover, 
    &:focus {
      background-color: transparent;
    }
  }
  .open > a, 
  .open > a:focus {
    background-color: $gray-transparent;
  }
}

.navbar-right {
  position: absolute;
  right: 0;
  // margin-right: -15px;
}

.dropdown-menu {
  border: none;
  padding: 1.8em 0;
  li > a {
    font-size: 1.105em;
    font-weight: bold;
    color: $gray-light;
    transition: color 0.3s;
    padding: 0.4em 1.6em;
    &:hover {
      color: $yellow-dark;
      background-color: transparent;
    } 
  }
}

#logo {
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &:hover, 
  &:focus {
    color: white;
    text-decoration: none;
  }
}

.header-form {
  width: 47%;
  float: right;
  z-index: 100;
  display: none;
  margin-right: -3em;
  .col-md-3, 
  .col-md-9 {
    padding: 0;
  }
  .form-control {
    background-color: $gray-darker;
    border: none;
    &:focus, 
    &:active {
      color: white;
      border: none;
    }
  }
}

.header-search-icon {
  padding: 15px;
}

.search-form-icon, 
.search-form-close {
  color: $gray-light;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-form-icon {
  left: 0.9em;
}

.search-form-close {
  cursor: pointer;
  right: 0.9em;
  transition: color 0.3s;
  &:hover {
    color: white;
  }
}

.header-static, 
.header-fixed, 
.header-normal {
  z-index: 100;
  width: 100%;
}

.header-fixed, 
.header-normal {
  background-color: $gray-darkest;
  .navbar-nav > li > a, 
  .header-search-icon {
    color: $gray-light;
    cursor: pointer;
    &:hover, 
    &:active {
      color: white;
    }
  }
  .nav .open > a {
    color: white;
    background-color: $gray-darker;
  }
  .dropdown-menu {
    background-color: $gray-darker;
  }
}

.header-static {
  background-color: transparent;
  position: absolute;
  top: 0;
  .dropdown-menu {
    background-color: $gray-transparent;
  }
}

.header-fixed {
  display: none;
  position: fixed;
}

/* footer */

footer {
  background-color: $gray-lightest;
}

.call-us-container {
  text-align: center;
  color: white;
  background-color: $green;
  padding: 2.5em 0;
}

.call-us-heading {
  font-size: 1.7em;
  font-weight: bold;
  margin: 0 0 1em;
}

.call-us-details {
  background-color: $green-dark; 
  border-radius: 32px;
  width: 15%;
  padding: 0.75em 0;
  margin: 0 auto;
}

.call-us-number {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
}

.call-us-text {
  font-size: 0.85em;
  line-height: 1.2;
  color: $green-text;
  margin: 0;
}

.footer-text {
  max-width: 1008px;
  padding: 1.25em 0;
  margin: 0 auto;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 0.8em;
      a {
        color: $gray-darker;
        &:hover, 
        &:focus {
          color: $gray-darker;
          text-decoration: none;
        }
      }
    }
  }
}

.footer-logo {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: $gray-darker;
}

.footer-subtitle {
  font-size: 1em;
  color: $gray-dark;
  margin-bottom: 1.5em;
}

.social-media li {
  display: inline-block;
  margin-top: 1.7em;
  margin-right: 1em;
  margin-bottom: 1.7em;
}

/* jumbotron */

.page-container {
  .jumbotron {
    background: image-url("hero3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    height: 515px;
    position: relative;
    margin: 0;
    padding: 0;
    .hero-title {
      font-size: 3.5em;
      font-weight: bold;
      letter-spacing: 0.05px;
      color: white;
      margin: 0;
    }
    // #video-background { 
    //   position: fixed;
    //   top: 0;
    //   right: 0;
    //   bottom: 0;
    //   left: 0;
    //   overflow: hidden;
    //   z-index: -100;
    //   width: 100%;
    // }
  }
}

.hero-subtitle {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.05px;
  color: white;
  margin: 0.5em 0;
}

.popular-searches {
  background-color: $gray-darker;
  border: 1px solid $gray-darker;
  height: 40px;
  width: 50%;
  margin: auto;
}

.popular-searches-title {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 2.65em;
  color: $yellow-dark;
  float: left;
  margin: 0 0.9em;
}

.popular-searches-list {
  line-height: 2.9em;
  list-style: none;
  float: left;
  padding: 0;
  li {
    padding: 0 0.8em;
    display: inline-block;
    a {
      color: white;
    }
  }
}

/* home */

.features-container {
  text-align: center;
  background-color: white;
  border-bottom: 1px solid $gray-border;
  .row {
    margin: 0 auto;
    max-width: 1008px;
    .col-md-4 {
      padding: 2em;
      border-right: 1px solid $gray-border;
      &:last-child {
        border-right: none;
      }
    }
  }
}

.feature-title {
  font-size: 1.65em;
  font-weight: bold;
  color: $gray-darker;
  margin: 0 0 0.25em;
}

.feature-description {
  font-size: 1.1em;
  line-height: 1.5;
  color: $gray-darker;
  margin: 0;
}

.how-it-works-container {
  background-color: $gray-lightest;
  border-bottom: 1px solid $gray-border;
  height: 500px;
}

.how-it-works-title {
  font-size: 1.65em;
  font-weight: bold;
  text-align: center;
  color: $gray-darker;
  padding: 240px;
  margin: 0;
}

/* search results */

.search-header {
  background-color: $green;
  overflow: auto;
}

.search-header-content {
  color: white;
  max-width: 1008px;
  margin: 2.3em auto;
}

.search-header-title {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 0.5em;
}

.search-header-info {
  font-size: 1em;
  line-height: 1.3;
  margin: 0;
}

.search {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.search-map {
  height: 100%;
  width: 88.5%;
  position: absolute;
  top: 0;
  left: 0;
  // z-index: 0;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.search-map-scrolled {
  position: fixed;
}

#search-filters {
  display: none;
}

// .filters-content {
//   max-width: 1008px;
//   margin: 0 auto;
// }

// .filters-form {
//   background-color: white;
//   padding: 1.7em;
//   position: relative;
//   z-index: 100;
// }


.vehicle-condition-title,
.installed-options-title {
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1.3;
  color: $gray-darker;
  margin: 0 0 1.2em;
}

.vehicle-condition-list, 
.installed-options-list {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    margin: 0 0.3em 0.6em 0;
    input {
      display: none;
    }
    input + label {
      font-size: 0.85em;
      line-height: 2.1em;
      color: $gray-dark;
      background-color: $gray-lightest;
      border: 1px solid $gray-light;
      border-radius: 2px;
      cursor:pointer;
      padding: 3px 8px;
      margin: 0;
      transition: border-color 0.3s, color 0.3s, background-color 0.3s;
      &:hover {
        border-color: $green;
      }
      &:focus {
        color: white;
        background-color: $green;
      }
    }
    input:checked + label {
        border-color: $green;
        color: white;
        background-color: $green;
    }
  }
}

.search-results {
  background-color: $gray-lightest;
}

.search-results-content {
  max-width: 1008px;
  margin: 0 auto;
  .col-md-8 {
    background-color: $gray-lightest;
    padding: 2.3em 0 2.3em 1.7em;
    position: relative;
    z-index: 100;
  }
}

.btn-filters-container {
  margin-bottom: 1.7em;
}

.new-vehicle {
  background-color: white;
}

.new-vehicle-content {
  max-width: 1008px;
  margin: 0 auto;
}

.secondary-filters {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

.secondary-filters-open {
  max-height: 880px;
}

.form-group {
  color: $gray-darker;
  margin-bottom: 2.3em;
  label {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    margin: 0 0 1.2em;
  }
}

.form-element {
  position: relative;
  margin-bottom: 0.6em;
}



select {
  font-size: 1.1em;
  color: $gray-dark;
  border: 1px solid $gray-light;
  border-radius: 2px;
  width: 100%;
  padding: 1.1em 1.9em 1.1em 3.2em;
  cursor: pointer;
  appearance: none;
  -woz-appearance: none;
  -webkit-appearance: none;
  &:focus {
    outline: none;
    border: 1px solid $yellow-dark;
  }
}

#sort {
  width: 10%;
  padding: 0;
}

.slider-label {
  font-size: 0.85em;
  font-weight: bold;
  line-height: 2em;
  color: $gray-dark;
  display: inline-block;
  float: right;
}

.slider.slider-horizontal .slider-track {
  height: 8px;
  width: 100%;
  margin-left: 0.5em;
}

.tooltip {
  display: none;
}

.slider-selection, 
.slider-track-high {
	background: $gray-lighter;
	box-shadow: none;
}

.slider-handle {
  background: $green;
  height: 1.2em;
  width: 1.2em;
}

// .search-filter {
//   margin-bottom: 2.5em;
// }

#search-visible {
  display: block;
}

.search-list {
  padding: 0;
  margin: 0;
}

.search-item {
  list-style: none;
  background-color: white;
  border: 1px solid $gray-border;
  margin-bottom: 1.7em;
  &:hover {
    .btn-search-carousel {
      opacity: 1;
    }
  }
}

.search-item-vehicle {
  border-bottom: 1px solid $gray-border;
  margin: 0;
}

.search-carousel-container {
  padding: 0;
}

.search-carousel {
  position: relative;
}

.search-carousel .item {
  background-color: $gray-darkest;
  height: 200px;
  width: 1000px;
  img {
    height: 100%;
    width: auto;
  }
}

.btn-search-carousel {
  color: white;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fa-chevron-left {
  left: 10px;
}

.fa-chevron-right {
  right: 10px;
}

.search-summary {
  padding: 1.7em 1.1em;
}

.search-summary-content,
.search-price-content,
.search-deal-content {
  &:hover {
  text-decoration: none;
  }
}

.search-price {
  padding: 1.7em 1.7em 1.7em 0;
}

.search-detail-title {
  font-size: 1.3em;
  line-height: 1.3;
  font-weight: bold;
  color: $gray-darker;
  margin: 0;
  display: block;
}

.search-detail-info {
  font-size: 1em;
  line-height: 1.5;
  color: $gray-dark;
  margin-top: 0.6em;
  display: block;
}

.search-detail-link {
  font-size: 1em;
  line-height: 1.5;
  color: $gray-text;
  margin-top: 1.2em;
  display: block;
}

.vehicle-description {
	max-height: 3em;
	overflow: hidden;
}

.fa-heart {
  color: $yellow-dark;
  margin-right: 0.5em;
}

.search-detail-discount {
  font-size: 0.85em;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: $red;
  width: 100%;
  padding: 0.4em 0;
  margin-top: 0.6em;
  display: block;
}

.btn-search-detail {
  margin: 0.6em 0 0 !important;
  display: table;
}

.btn-text {
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.search-item-deal {
  padding: 1.1em 1.7em;
  margin: 0;
}

.deal-detail-icon {
  color: $red;
  margin-right: 0.4em;
}

.deal-detail-title {
  font-size: 1em;
  font-weight: bold;
  color: $red;  
  margin-right: 0.4em;
}

.deal-detail-info {
  font-size: 1em;
}

.search-advice-content {
  border: 1px solid $gray-border;
  padding: 1.7em;
  margin: 0;
}

.advice-contact {
  padding-right: 0;
}

.fa-comments {
  color: $yellow-dark;
}

.advice-title {
  font-size: 1.2em;
  letter-spacing: 0;
  font-weight: bold;
  color: $gray-text;
  margin: 0 0 0.5em;
}

.advice-info {
  font-size: 1em;
  text-align: left;
  margin: 0;
}

.btn-tertiary {
  font-weight: bold;
  color: white;
  background-color: $green;
  height: 50px;
  width: 100%;
  &:hover {
    text-decoration: none;
    color: white;
  }
  &:focus {
    background-color: $gray-light;
    box-shadow: none;
  }
}

// font-size: 1.1em;
//   $blue;
//   outline: none !important;
  
//   margin-bottom: 5.2em;
//   &:hover,
//   &:focus {
//     color: white;
//   }
//   &:focus {
//     background-color: $gray-light;
//     box-shadow: none;
//   }

div.pagination {
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0 0 1.7em;
}

ul.pagination {
  margin: 0;
  li a {
    text-decoration: underline;
    color: $gray-dark;
    background-color: transparent;
    border: none;
    padding: 1em 1.3em;
    &:hover,
    &:focus {
      color: $gray-dark;
      background-color: transparent;
    }
  }
}

.next_page a,
.previous_page a {
  color: $gray-text !important;
  border: 1px solid $gray-light !important;
  border-radius: .125em !important;
}

.previous_page.disabled a {
  color: $gray-border !important;
  border: 1px solid $gray-border !important;
}

.active a {
  text-decoration: none !important;
  color: $gray-text !important;
  background-color: transparent !important;
}

.disabled a {
  text-decoration: none !important;
  pointer-events: none;
}

/* vehicle-page */

#vehicle-details,
#gallery,
#reviews,
#map-and-brochure {
  position: relative;
  padding-top: 50px;
  margin-top: -50px;
}

#vehicle-details,
#reviews {
  background-color: $gray-lightest;
  border-bottom: 1px solid $gray-border;
}

#vehicle-details {
  z-index: 400;
}

#gallery {
  border-bottom: 1px solid $gray-border;
  z-index: 300;  
}

#reviews {
  z-index: 200;
}

#map-and-brochure {
  height: 400px;
  margin-bottom: 50px;
  z-index: 100;
  .row {
    height: 400px;
    margin: 0;
    .col-md-6 {
      height: 100%;
      border: 1px solid white;
      padding: 0;
      #map {
        height: 100%;
      }
    }
  }
}

.brochure {
  height: 100%;
  a {
    text-decoration: none;
  }
  .brochure-image {
      height: 100%;

    background-size: cover;
    background-position: 50% 50%;
    .brochure-text {
      padding-top: 17em;
      padding-left: 3.5em;
      h1,
      h5 {
        color: white;
        font-weight: bold;
        margin: 0;
      }
      h1 {
        margin-bottom: 0.7em;
      }
    }
  }
}

.hero-image {
  width: 100%;
  height: 100%;
}

.hero-image#vehicle-hero-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 430px;
  cursor: pointer;
}

// #hero-image {
//   cursor: pointer;
//   transition: 0.3s;
//   &:hover {
//     opacity: 0.7;
//   }
// }

.secondary-navbar-scrolled {
  position: fixed !important;
  top: 0;
  width: 100%;
}

.secondary-navbar {
  background-color: white;
  border-bottom: 1px solid $gray-border;
  height: 50px;
  margin-bottom: -50px;
  position: relative;
  z-index: 600;
  nav {
    height: inherit;
    max-width: 1008px;
    margin: auto;
    position: relative;
    a {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.25px;
      color: $gray-dark;
      padding: 16px 0;
      margin-right: 24px;
      transition: color 0.3s;
      &:hover {
        color: $gray-darker;
      }
    }
  }
}

a.nav-active {
  color: $gray-darker !important;
  border-bottom: 2px solid $yellow-dark;
}

nav li {

}

// .nav ul li .active {
//     border-bottom:3px #FFF solid;
//     }

// .nav > li.active {border-bottom: 2px solid $yellow-dark;}

.listing-btns-container {
  padding: 0;
  position: absolute;
  right: 0;
  top: -50px;
}

.secondary-navbar-btn-container {
  background-color: $yellow-dark;
  height: 100px;
  position: relative;
}

.secondary-navbar-price {
  font-size: 35px;
  font-weight: bold;
  color: $gray-text;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
}

.secondary-navbar-price-hide {
  transform: translate(-50%, -150%);
  opacity: 0;
}

.listing-summary-btns-container {
  background-color: $gray-lightest;
  padding: 24px;
}

.listing-summary-btns-container-fixed {
  position: fixed;
  top: 50px;
}

.appointments {
  margin-bottom: 16px;
}

.listing-summary {
  background-color: white;
  border-bottom: 1px solid $gray-border;
  position: relative;
  z-index: 500;
  .row {
    max-width: 1008px;
    margin: 0 auto;
    .listing-summary-text {
      margin: 24px 0;
      h1 {
        font-size: 1.8em;
        font-weight: bold;
        line-height: 1.5;
        color: $gray-darker;
        margin: 0;
      }
      h2 {
        font-size: 1em;
        // font-weight: bold;
        letter-spacing: 0.5px;
        line-height: 1;
        color: $gray-dark;
        margin: 0;
      }
    }
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

.profile-image {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#about-this-listing {
  max-width: 1008px;
  margin: 60px auto;
}

.b-head-listing {
  font-size: 1.5em;
  font-weight: bold;
  color: $gray-darker;
  margin: 24px 0 2.5em;
}

.vehicle-details-summary,
.user-bio {
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 1.5;
  text-align: left;
  color: $gray-dark;
  margin: 0 0 2.5em;
}
    
.partition {
  border-top: 1px solid $gray-border;
  margin: 20px 0;
}

.col-md-8 {
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 1.2;
  color: $gray-dark;
  margin: 0;
}

.col {
  border: 1px solid white;
  height: 100%;
  padding: 0;
}

// .col-md-8 {
//   padding: 0;
// }

.unavailable-feature {
  display: none;
}

.gallery-primary-row {
  height: 300px;
}

.gallery-secondary-row {
  height: 150px;
}

.reviews-contents {
  max-width: 1008px;
  padding: 4.7em 0;
  margin: 0 auto;
}

.average-rating-container {
  display: inline-block;
  margin-bottom: 4em;
}

.c-head-listing {
  font-size: 1.1em;
  font-weight: bold;
  color: $gray-darker;
  margin: 1em 0;
}

.average-rating-number,
.rating-number {
  font-weight: bold;
  line-height: 1;
  color: $gray-text;
  background-color: $yellow-dark;
  border-radius: 2px;
  padding: 0.5em;
  margin-right: 1em;
  float: left;
}

.average-rating-number {
  font-size: 1.8em;
}

.rating-number {
  font-size: 0.9em;
}

.average-rating-stars {
  float: right;
}

table,
.number-of-reviews, 
.review-date,
.review-comment {
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 1.5;
  color: $gray-dark;
}

table {
  tr {
    td {
      padding-right: 1em;
    }
  }
}

.reviews-list {
  .row {
    margin: 0 0 2em 5.2em;
  }
}

.review-container {
  background-color: white;
  border: 1px solid $gray-border;
  padding: 24px;
}

.review-details {
  width: 100%;
  margin-bottom: 16px;
  display: inline-block;
}

.review-author,
.review-title {
  font-size: 1.05em;
  font-weight: bold;
  color: $gray-darker;
}

.review-author {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.review-rating {
  margin-right: 1.5em;
  float: left;
}

.review-comment {
  text-align: left;
  margin: 0 0 0 8.4em;
}

/* credentials */

.login-form, 
.forgot-password-form, 
.signup-form {
  border: 1px solid $gray-border;
  margin: 0 auto;
}

.login-form, 
.forgot-password-form {
  width: 39%;
  padding: 2.3em;
  .form-control {
    margin: 0 0 1.7em;
  }
}

.signup-form {
  background-color: $gray-lightest;
  width: 80%;
  padding: 3% 3% 1%;
  overflow: auto;
  .form-control {
    width: 48%;
    float: left;
    margin: 0 1% 0.8em;
  }
}

.terms-container {
  border: 1px solid $gray-border;
  border-top: none;
  width: 80%;
  margin: 0 auto;
}

.terms-text {
  padding: 5% 5% 3%;
}

/* buttons */

.btn-primary, 
.btn-subscribe, 
.btn-signup, {
  font-weight: bold;
  border-radius: 0;
  height: 50px;
  padding: 0 2em;
  margin-left: 0;
}

.btn-primary, 
.btn-signup {
  color: $gray-darker;
  background-color: $yellow-dark;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  border: 1px solid $yellow-dark;
  width: 100%;
  &:hover, 
  &:focus, 
  &:active {
    color: white;
    background-color: $gray-darker;
    border: 1px solid $gray-darker;
    box-shadow: none;
  }
}

.btn-subscribe {
  color: white;
  background-color: $gray-darker;
  border: 1px solid $gray-darker;
  &:hover, 
  &:focus, 
  &:active {
    color: white;
  }
}

.btn-signup {
  display: block;
  width: 40%;
  margin: 0 auto;
}

.btn-contact-seller {
  font-size: 16px;
  font-weight: bold;
  color: $gray-text;
  background-color: $yellow-dark;
  border: none;
  opacity: 0;
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  transition-property: opacity, height;
  transition-duration: 0.3s;
}

.btn-contact-seller-display {
  opacity: 1;
  height: 50%;
}

.btn-user-wish-list,
.btn-test-drive {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5em;
  color: $gray-text;
  background-color: transparent;
  border-color: $yellow-dark;
  width: 100%;
  padding: 10px 14px;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.input-group-btn:last-child > .btn {
  margin: 0;
}

.btn-filters {
  font-size: 0.85em;
  font-weight: bold;
  line-height: 2.1em;
  color: $gray-dark;
  background-color: $gray-lightest;
  border: 1px solid $gray-light;
  border-radius: 2px;
  padding: 3px 8px;
  margin-bottom: 0.6em;
  transition: border-color 0.3s;
  &:hover {
    border-color: $green;
  }
  &:focus {
    color: white;
    background-color: $green;
    outline: none;
  }
}

/* sidebar */

aside {
  section.sidenav_list {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
 
.gravatar {
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

.jumbotron-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  .row {
    margin: 2em auto 0;
    width: 50%;
    .col-md-10, 
    .col-md-2 {
      padding: 0;
    }
  }
}

.form-control {
  font-size: 1.1em;
  color: $gray-dark;
  border: 1px solid $gray-light;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: none;
  height: 50px;
  padding: 0.9em;
  &:focus {
    border: 1px solid $yellow-dark;
    box-shadow: none;
  }
}

.form-control::-webkit-input-placeholder { color: $gray-light; }
.form-control:-moz-placeholder { color: $gray-light; }
.form-control::-moz-placeholder { color: $gray-light; }
.form-control:-ms-input-placeholder { color: $gray-light; }

#search {
  padding-left: 3.4em;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 1.4em;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  text-align: center;
  margin: 0 0 3%;
  span {
    font-weight: normal;
    margin-left: 1.3em;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.form-icon, 
.form-caret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-icon {
  color: $yellow-dark;
  left: 0.9em;
}

.form-caret {
  color: $gray-light;
  right: 0.9em;
}

.input-group-addon {
  color: $gray-dark;
  background-color: $gray-lightest;
  border-radius: 0;
  padding: 0 1.1em;
}

input#appointment_date {
  height: 43px;
}

/* modal */

.modal {
  background-color: $gray-modal;
  // display: none;
}

.modal-carousel-container {
  background-color: $gray-modal;
  height: 100%;
  width: 94%;
  padding: 2.3em;
  transition: width 0.4s;
}

.modal-carousel-container-closed {
  width: 71%;
}

.carousel, .carousel-inner, .item {
  height: 100%;
  width: 100%;
}

.modal-image {
  max-height: 100%;
  max-width: 100%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
}

.modal-caption-container {
  background-color: $gray-darkest;
  height: 100%;
  width: 23%;
  padding: 2.3em 0;
  position: absolute;
  top: 0;
  left: 94%;
  z-index: 10;
  transition: transform 0.4s;
}

.modal-caption-container-open {
  transform: translateX(-100%);
}

.modal-details-section {
  padding: 0 2.3em;
}

.modal-details-row {
  text-align: center;
}

.modal-details-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75px;
  width: 75px;
  cursor: pointer;
  position: relative;
  transition: 0.3s; 
  &:hover {
    opacity: 0.5;
    .hover-icon {
      visibility: visible;
    }
  }
}

.hover-icon {
  color: white;
  margin: 0 !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
  visibility: hidden;
}

.related-vehicle-a,
.also-liked-a,
.related-product-a {
  float: left;
}

.related-vehicle-b,
.also-liked-b,
.related-product-b {
  display: inline-block;
}

.related-vehicle-c,
.also-liked-c,
.related-product-c {
  float: right;
}

.modal-caption,
.modal-details {
  font-size: 0.95em;
  line-height: 1.5em;
  color: $gray-modal-controls;
  margin: 0;
}

.modal-caption {
  margin-top: 1.5em;
}

.modal-title {
  font-weight: bold;
}

.modal-details-gallery {
  height: 70px;
}

.modal-options-container {
  background-color: black;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.btn-modal {
  text-align: center;
  color: $gray-modal-controls;
  width: 100%;
  cursor: pointer;
  padding: 1.8em 0;
  transition: color 0.3s;
  &:hover, 
  &:focus {
    color: white;
  }
}

.modal-show-info, 
.modal-image-number {
  transform: rotate(90deg);
  p {
    font-weight: bold;
    line-height: 0;
    color: $gray-modal-controls;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
  }
}

.modal-show-info {
  cursor: pointer;
  p {
    transition: color 0.3s;
    &:hover {
      color: white;
    }
  }
}

.modal-social-media {
  background-color: $gray-social-media;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* sales management */

.sales-management-background {
  background-color: $gray-lightest;
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -1000;
}

.sales-management-container {
  padding: 3em 0;
  max-width: 1008px;
  margin: 50px auto 0;
}

.profile-panel {
  margin-bottom: 2.3em;
}

.profile-photo {
  position: relative;
}

.img-responsive {
  width: 100%;
  height: auto;
}
  
.add-profile-photo-link {
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #2f2f2f;
  width: 100%;
  cursor: pointer;
  padding: 12px 0;
  position: absolute;
  bottom: 0;
  transition: 0.3s;
  &:hover {
    background-color: #484848;
  }
  a {
    color: white;
    text-decoration: none;
  }
}

.fa-camera-retro {
  margin-right: 2px;
}

.profile-settings {
  text-align: center;
  background-color: white;
  border: 1px solid $gray-border;
  border-top: none;
  padding: 2.3em;
}

.profile-settings-username {
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -0.025em;
  display: block;
  margin: 0 0 0.67em;
}

.profile-settings-links {
  display: block;
  font-size: 1.1em;
  letter-spacing: 0.1px;
  line-height: 1.4;
  list-style: none;
  padding: 0;
  margin: 0;
  a {
    color: $gray-text;
  }
}

.panel-header {
  // background-color: $gray-lightest;
  display: block;
  width: 100%;
  border: 1px solid $gray-border;
  padding: 1em 2.3em;
}

.panel-body {
  display: block;
  font-size: 1.1em;
  letter-spacing: 0.1px;
  line-height: 1.4;
  list-style: none;
  background-color: white;
  border: 1px solid $gray-border;
  border-top: none;
  padding: 2.3em;
  margin: 0;
  li {
    margin-bottom: 0.2em;
  }
  a {
    color: $gray-text;
  }
}

.notifications-panel {
  margin-bottom: 2.3em;
}

.message-summary {
  border-bottom: 1px solid $gray-border;
  padding: 2.3em 0;
}

/* profile */

.side-nav {
  display: block;
  font-size: 1.1em;
  letter-spacing: 0.1px;
  line-height: 1.4;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin-bottom: 0.2em;
  }
  a {
    color: $gray-text;
  }
}

/* your listings */

.your-listings-container {
  padding: 3em 0;
  max-width: 1008px;
  margin: 50px auto 0;
  h2 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.8;
    color: $gray-darker;
    margin: 0;
  }
  h3 {
    font-size: 1em;
    letter-spacing: 0.2px;
    line-height: 1.8;
    color: $gray-dark;
    margin: 0.5em 0 0;
  }
  .vehicles {
    padding: 0;
  }
  .list-item {
    background-color: white;
    list-style: none;
    border: 1px solid $gray-border;
    margin-bottom: 1.7em;
    padding: 0;
    .list-item-text {
      padding: 1.5em 1em; 
      .listing-name {
        font-size: 1.35em;
        font-weight: bold;
        line-height: 1.5;
        color: $gray-darker;
        margin: 0;
        display: block;

      }
      .listing-price {
        font-size: 1em;
        letter-spacing: 0.1px;
        line-height: 1;
        color: $gray-dark;
        margin: 0;
        display: block;
      }
    }
    .btn-list {
        font-size: 1em;
        line-height: 1;
        font-weight: bold;
        text-align: center;
        background-color: $blue;
        color: white;
        border-radius: 2px;
        padding: 1.1em 0;
        margin: 0.8em 0;
        display: block;
      }
  }
}

/* new vehicle */

.hero-primary {
  background-color: $gray-hero;
  overflow: auto;
}

.hero-primary-content {
  max-width: 1008px;
  margin: 3.4em auto;
}

.hero-gravatar {
  .gravatar {
    border: 2px solid white;
  }
}

.hero-username {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.7em;
  color: white;
  margin: 0;
}

.heor-detail {
  display: table-row;
}

.hero-detail-title {
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1.8em;
  color: white;
  display: table-cell;
}

.hero-detail-info {
  font-size: 1.1em;
  line-height: 2.2em;
  color: white;
  padding-left: 1em;
  display: table-cell;
}

.listing-status {
  background-color: $gray-darker;
  padding: 1.7em;
}

.amount-complete {
  font-size: 2.6em;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.01em;
  text-align: center;
  color: $yellow-dark;
  display: block;
}

.status-description {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  color: $gray-light;
  margin-top: 1.1em;
  display: block;
}

.new-vehicle {
  background-color: white;
}

.new-vehicle-content {
  max-width: 1008px;
  margin: 0 auto;
}

.instructions,
.basics,
.details {
  border-bottom: 1px solid $gray-border;
}

.instructions {
  padding: 3.5em 0;
}

.basics,
.details,
.finalize {
  padding: 3.5em 0 1.5em;
}

.instructions-content {
  background-color: $gray-lightest;
  padding: 2.3em;
}

.instructions-icon {
  text-align: center;
}

.fa-rocket {
  color: $yellow-dark;
}

.instructions-title,
.basics-title,
.details-title,
.finalize-title {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.3em;
  color: $gray-text;
  margin: 0 0 20px;
}

.instructions-info,
.basics-info,
.details-info,
.finalize-info {
  line-height: 2.2em;
  text-align: left;
  color: $gray-text;
  margin: 0;
}

.installed-options {
  margin-bottom: 1.8em;
}



// .btn-file {
//   position: relative;
// }

// .btn-file input[type=file] {
//   opacity: 0;
//   min-width: 100%;
//   min-height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   cursor: inherit;
// }

.new-vehicle-photo {
  height: 125px;
}

.img_preview {
  position: relative;
}

.fa-times {
  position: absolute;
  z-index: 200;
  right: 5px;
  top: 5px;
  color: $gray-modal-controls;
  &:hover, 
  &:focus {
    color: white;
  }
}

.btn-secondary {
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: $blue;
  outline: none !important;
  height: 50px;
  width: 100%;
  margin-bottom: 5.2em;
  &:hover,
  &:focus {
    color: white;
  }
  &:focus {
    background-color: $gray-light;
    box-shadow: none;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* experiment */

.press-container {
  background-color: white;
  padding: 3.5em 0 1.7em;
  text-align: center;
  h3 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.5em;
    color: #6d7fb4;
    margin: 0 0 1.5em;    
  }
  .row {
    margin: 0 auto 2.6em;
    max-width: 1008px;
  }
}

.features-container {
  text-align: center;
  background-color: white;
  border-bottom: 1px solid $gray-border;
  .row {
    .col-md-4 {
      padding: 2em;
      border-right: 1px solid $gray-border;
      &:last-child {
        border-right: none;
      }
    }
  }
}

.legal {
  max-width: 1008px;
  margin: 0 auto;
  ul {
    list-style: none;
    display: inline-block;
    li {
      display: inline;
      a {
        color: $gray-dark;
        margin-right: 1.5em;
        &:hover, 
        &:focus {
          color: $gray-dark;
          text-decoration: none;
        }
      }
    }
  }
  .copyright {
    font-size: 1em;
    color: $gray-dark;
  }
}

input#appointment_date { 
  cursor: pointer;
}

/* profile */

.header-profile {
  background-color: white;
  border-bottom: 1px solid $gray-border;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: none;
  .row {
    max-width: 1008px;
    margin: 0 auto;
  }
}

.header-profile-user-info {
  height: 50px;
}

.header-profile-text {
  font-size: 13px;
  letter-spacing: 0.25px;
}

.header-profile-user-name {
  font-weight: bold;
  color: $gray-darker;
}

.header-profile-city {
  color: $gray-dark;
}

.header-profile-btn {
  font-size: 16px;
  font-weight: bold;
  color: $gray-text;
  background-color: $yellow-dark;
  border: none;
  height: 50px;
  width: 100%;
}

.user-cover-photo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 430px;
}

.profile-summary-container {
  background-color: white;
  border-bottom: 1px solid $gray-border;
}

.profile-summary {
  max-width: 1008px;
  margin: 0 auto;
}

.profile-summary-gravatar {
  height: 106px;
  position: relative;
  .gravatar {
    border: 2px solid white;
    position: absolute;
    bottom: 6px;
    left: 15;
  }
}

.profile-summary-text {    
  h1 {
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.5;
    color: $gray-darker;
    margin: 0;
  }
  h2 {
    font-size: 1em;
    letter-spacing: 0.5px;
    line-height: 1;
    color: $gray-dark;
    margin: 0;
  }
}

.user-info {
  background-color: $gray-lightest;
  overflow: auto;
  .row {
    max-width: 1008px;
    margin: 60px auto;
  }
}

.report-user {
  margin-bottom: 1.5em;
}

.user-wish-list {
  .col-md-6 {
    padding: 0;
  }
}

.left {
  padding-right: 0.75em !important;
}

.right {
  padding-left: 0.75em !important;
}

.user-wish-list-image,
.user-listings-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.user-wish-list-image {
  height: 250px;
}

.user-listings-image {
  width: 100%;
  height: 150px;
}

.user-info-image-gradient {
  background: transparent;
  background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.75));
  background: -o-linear-gradient(transparent, rgba(0,0,0,0.75));
  background: -moz-linear-gradient(transparent, rgba(0,0,0,0.75));
  background: linear-gradient(transparent, rgba(0,0,0,0.75));
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0.7em;
}

.user-info-image-text {
  font-size: 13px;
  letter-spacing: 0.25px;
  font-weight: bold;
  color: white;
}