// bootstrap-slider included in both custom.css.scss and application.css; necessary?
// line-height: remove em;
// correct color names

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-slider";

/* mixins, variables, etc. */

$gray-transparent:    rgba(54, 55, 58, 0.75);
$gray-border:         #e7e7e7;
$gray-modal:          #262626;
$gray-modal-controls: #cccccc;
$gray-social-media:   #19202d;
$gray-lightest:       #f9f9f9;
$gray-lighter:        #eaeaea;
$gray-light:          #c8c9cb;
$gray-dark:           #9e9e9e;
$gray-darker:         #63656a;
$gray-darkest:        #36373a;
$gray-hero:           #4b4c50;
$gray-text:           #4c4c4c;
$gray-a:              #888888;
$gray-b:              #ababab;
$yellow-dark:         #fcce01;
$green:               #38b2a6;
$green-dark:          #2b948a;
$green-text:          #52ccc0;
$blue:                #6d7fb4;
$red:                 #fd8649;

/* general */

.alert-info,
.alert-success {
  text-align: center;
  max-width: 1008px;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.last {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* responsive design */

body, header {
  min-width: 1008px;
}

.navbar-left {
  float: left;
  margin: 0;
}

.navbar-right {
  float: right !important;
  margin: 0;
  li a {
    padding: 15px;
  }
}

.navbar-nav>li, .navbar-nav {
  float: left;
}

/* typography */

p, 
span {
  font-size: 1.1em;
  line-height: 1.4;
  color: $gray-text;
}

p {
  text-align: center;
  margin: 1.1em 0;
  a {
    color: $gray-text;
    border-bottom: 1px solid $gray-text;
    &:hover {
      color: $gray-text;
      text-decoration: none;
    }
  }
}

/* buttons */

.btn {
  font-weight: bold;
  line-height: 50px;
  border-radius: 0;
  height: 50px;
  padding: 0;
  &:focus {
    box-shadow: none;
  }
}

.btn-primary,
.btn-search {
  color: $gray-text;
  background-color: $yellow-dark;
  border: 1px solid $yellow-dark;
  width: 100%;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
  &:hover, 
  &:focus {
    color: white;
    background-color: $gray-text;
    border: 1px solid $gray-text;
  }
}

.btn-primary {
  border-radius: 2px;
}

.btn-secondary {
  color: white;
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 2px;
  width: 100%;
  transition: background-color 0.3s, border 0.3s;
  &:hover, 
  &:focus {
    color: white;
    background-color: $gray-light;
    border: 1px solid $gray-light;
  }
}

.btn-tertiary {
  color: $gray-text;
  background-color: transparent;
  border: 1px solid $yellow-dark;
  border-radius: 2px;
  width: 100%;
}

.btn-cancel {
  color: white;
  background-color: $gray-darker;
  border: 1px solid $gray-darker;
  border-radius: 2px;
  width: 100%;
  transition: background-color 0.3s, border 0.3s;
  &:hover,
  &:focus {
    color: white;
    background-color: $gray-light;
    border: 1px solid $gray-light;
  }
}

.btn-google {
  color: $gray-darker;
  background-color: white;
  border: 1px solid $gray-border;
  border-radius: 2px;
  width: 100%;
  margin-bottom: 1.7em;
  transition: 0.3s;
  &:hover,
  &:focus {
    border: 1px solid $yellow-dark;
  }
}

.btn-green {
  color: white;
  background-color: $green;
  border: 1px solid $green;
  border-radius: 2px;
  width: 100%;
  transition: background-color 0.3s, border 0.3s;
  &:hover,
  &:focus {
    color: white;
    background-color: $gray-light;
    border: 1px solid $gray-light;
  }
}

.btn-contact {
  margin-top: 0.2em;
}

.btn-filters {
  font-size: 0.85em;
  font-weight: bold;
  line-height: 2.1;
  color: $gray-text;
  background-color: white;
  border: 1px solid $gray-border;
  border-radius: 2px;
  padding: 0.3em 0.7em;
}

.btn-summary-carousel-left,
.btn-summary-carousel-right {
  color: white;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn-summary-carousel-left {
  left: 10px;
}

.btn-summary-carousel-right {
  right: 10px;
}

.btn-navbar-contact-hidden {
  font-size: 1.2em;
  font-weight: bold;
  color: $gray-text;
  background-color: $yellow-dark;
  border: none;
  overflow: hidden;
  opacity: 0;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  transition-property: opacity, height;
  transition-duration: 0.5s;
}

.btn-navbar-contact-visible {
  opacity: 1;
  height: 50px;
}

.btn-header-profile {
  font-size: 1.2em;
  font-weight: bold;
  color: $gray-text;
  background-color: $yellow-dark;
  border: 1px solid $yellow-dark;
  height: 50px;
  width: 100%;
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 1.4em;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.form-group {
  margin-bottom: 1.4em;
}

.form-group-vertical,
.form-group-horizontal {
  color: $gray-darker;
  overflow: auto;
  label {
    font-size: 0.95em;
    font-weight: bold;
    line-height: 1.3;
  }
}

.form-group-horizontal {
  margin-bottom: 1.7em;
  &:last-child {
    margin-bottom: 0;
  }
  label {
    margin-top: 1.2em;
  }
}

.form-group-vertical label {
  margin-bottom: 1.2em;
}

label {
  font-size: 0.95em;
  font-weight: bold;
  line-height: 1.3;
  color: $gray-darker;
  margin: 0 0 0.7em;
}

.login-form,
.forgot-password-form,
.reset-password-form {
  border: 1px solid $gray-border;
  width: 39%;
  padding: 2.3em;
  margin: 0 auto;
}

.signup-form {
  background-color: $gray-lightest;
  border: 1px solid $gray-border;
  width: 80%;
  overflow: auto;
  padding: 3% 3% 1%;
  margin: 0 auto;
  .form-control {
    width: 48%;
    float: left;
    margin: 0 1% 0.8em;
  }
}

.search-form-secondary {
  width: 47%;
  display: none;
  z-index: 100;
  position: absolute;
  right: 0;
}

.search-form-secondary-content {
  margin-right: -3em;
}

.form-control {
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}

.form-control-primary,
.form-control-secondary {
  font-size: 1.1em;
  line-height: 2;
  color: $gray-darker;
  border: 1px solid $gray-border;
  border-radius: 0;
  height: 50px;
  &:focus {
    border: 1px solid $yellow-dark;
  }
}

.form-control-primary::-webkit-input-placeholder { 
  color: $gray-light;
}

.form-control-secondary {
  background-color: white !important;
  &::-webkit-input-placeholder { 
      color: $gray-darker;
  }
}

.header-form-control {
  font-size: 1.1em;
  color: $gray-lighter;
  background-color: $gray-darker;
  border: none;
  border-radius: 0;
  height: 50px;
  &::-webkit-input-placeholder { 
    color: $gray-dark;
  }
}

.login-form-control,
.forgot-password-form-control,
.reset-password-form-control {
  margin: 0 0 1.7em;
}

.search-form-control {
  font-size: 1.1em;
  color: $gray-darker;
  border: none;
  border-radius: 0;
  height: 50px;
  &::-webkit-input-placeholder { 
    color: $gray-light;
  }
}

.search-sort-form-control {
  font-size: 1em;
  color: $gray-dark;
  border: 1px solid $gray-border;
  border-radius: 2px;
  height: 35px;
  width: 135px;
  &:focus {
    border: 1px solid $yellow-dark;
  }
}

.review-title-form-control {
  font-size: 1.1em;
  font-weight: bold;
  color: $gray-text;
  width: 60%;
  display: inline-block;
  border: none;
  padding: 0;
  &::-webkit-input-placeholder { 
    color: $gray-light;
  }
}

.review-comment-form-control {
  font-size: 1em;
  line-height: 2;
  color: $gray-text;
  border: none;
  padding: 0;
  margin: 1.1em 0;
  &::-webkit-input-placeholder { 
    color: $gray-light;
  }
}

.message-form-control {
  font-size: 1em;
  line-height: 2;
  color: $gray-text;
  border: none;
  padding: 0;
  margin: 0 0 1.1em;
  &::-webkit-input-placeholder { 
    color: $gray-light;
  }
}

.form-element-primary {
  position: relative;
  margin-bottom: 0.6em;
}

.form-element-secondary {
  position: relative;
}

.checkbox-container {
  text-align: center;
}

.checkbox {
  margin-top: 0.7em !important;
}

.checkbox-label {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 2.2;
  color: $gray-text;
  margin: 0;
}

.form-icon, 
.form-caret {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.form-icon {
  color: $yellow-dark;
  left: 0.9em;
}

.form-caret {
  color: $gray-light;
  right: 0.9em;
}

.input-group-addon {
  color: $gray-darker;
  background-color: $gray-lightest;
  border: 1px solid $gray-border;
  border-radius: 0;
  padding: 0 1.1em;
}

#search {
  padding-left: 3.4em;
}

select {
  font-size: 1.1em;
  line-height: 2;
  color: $gray-darker;
  border: 1px solid $gray-border;
  border-radius: 0;
  height: 50px;
  width: 100%;
  padding-left: 3em;
  cursor: pointer;
  appearance: none;
  -woz-appearance: none;
  -webkit-appearance: none;
  &:focus {
    outline: none;
    border: 1px solid $yellow-dark;
  }
}

input#appointment_date { 
  cursor: pointer;
  padding: 1.1em 1.9em 1.1em 3.2em;
}

/* headers */

.header-static-transparent {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1000;
}

.header-fixed-visible,
.header-fixed-hidden {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

.header-fixed-hidden {
  display: none;
}

.header-primary {
  background-color: transparent;
  .navbar-nav {
    li a {
    color: white;
      &:hover,
      &:focus {
        background-color: transparent;
      }
    }
    .open > a, 
    .open > a:focus {
      background-color: $gray-transparent;
    }
    .dropdown-menu {
      background-color: $gray-transparent;
    }
  }
}

.header-secondary {
  background-color: $gray-darkest;
  .navbar-nav {
    li a {
    color: $gray-light;
    transition: color 0.3s;
      &:hover,
      &:focus {
        color: white;
        background-color: transparent;
      }
    }
    .open > a, 
    .open > a:focus  {
      color: white;
      background-color: $gray-darker;
    }
    .dropdown-menu {
      background-color: $gray-darker;
    }
  }
}

.navbar {
  border: none;
  margin: 0 3em;
  position: relative;
}

.logo {
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -0.05em;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &:hover, &:focus {
    color: white;
    text-decoration: none;
  }
}

.navbar-nav {
  font-size: 1.105em;
  font-weight: bold;
}

.header-icon {
  color: $gray-light;
  cursor: pointer;
  padding: 0.8em 1em;
  &:hover,
  &:focus {
    color: white;
  }
}

.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 1.8em 0;
  li a {
    font-size: 1.105em;
    font-weight: bold;
    color: $gray-light !important;
    padding: 0.4em 1.6em;
    transition: color 0.3s;
    &:hover {
      color: $yellow-dark !important;
      background-color: transparent;
    } 
  }
}

.search-bar-secondary,
.search-button-secondary {
  padding: 0;
}

.search-bar-secondary-icon {
  color: $gray-lighter;
  position: absolute;
  top: 50%;
  left: 0.9em;
  transform: translateY(-50%);
}

.search-bar-secondary-close {
  color: $gray-lighter;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0.9em;
  transform: translateY(-50%);
  transition: color 0.3s;
  &:hover {
    color: white;
  }
}

.header-profile {
  background-color: white;
  border-bottom: 1px solid $gray-border;
}

.header-profile-content {
  max-width: 1008px;
  margin: 0 auto;
}

.header-profile-avatar {
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.header-profile-info {
  margin-left: 1em;
}

.header-profile-username {
  font-size: 1.2em;
  font-weight: bold;
  color: $gray-text;
}

/* footer */

footer {
  background-color: $gray-lightest;
}

.footer-call-us {
  text-align: center;
  color: white;
  background-color: $green;
  padding: 2.5em 0;
}

.call-us-title {
  font-size: 1.7em;
  font-weight: bold;
  margin: 0 0 1em;
}

.call-us-info {
  background-color: $green-dark; 
  border-radius: 28px;
  width: 17%;
  padding: 0.8em;
  margin: 0 auto;
}

.call-us-number {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2;
  color: white;
  display: block;
}

.call-us-text {
  font-size: 0.85em;
  line-height: 1.2;
  color: $green-text;
  display: block;
}

.footer-links {
  max-width: 1008px;
  padding: 1.25em 0;
  margin: 0 auto;
}

.footer-logo {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -1px;
  color: $gray-darker;
}

.footer-social-media,
.footer-nav-list {
  list-style: none;
  padding: 0;
  li a {
    color: $gray-darker;
    &:hover, 
    &:focus {
      text-decoration: none;
      color: $gray-darker;
    }
  }
}

.footer-social-media li {
  margin: 0.3em 0.8em 0 0;
  display: inline-block;
}

.footer-nav-list li {
  margin: 0 0 0.9em;
}

.footer-nav-list-title {
  font-size: 1em;
  font-weight: bold;
  color: $gray-dark;
  margin-bottom: 1.5em;
}

.footer-legal {
  list-style: none;
  padding: 0;
  margin-top: 1.4em;
  li {
    margin-left: 1.5em;
    display: inline-block;
    color: $gray-dark;
    a {
      color: $gray-dark;
      &:hover, 
      &:focus {
        text-decoration: none;
        color: $gray-dark;
      }
    }
  }
}

/* signup, login, and password reset */

.credentials {
  max-width: 1008px;
  padding: 3.5em 0;
  margin: 0 auto;
}

.credentials-title {
  font-size: 2.1em;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.01em;
  text-align: center;
  color: $gray-text;
  margin: 0 0 0.67em;
}

.fa-google {
  margin-right: 7px;
}

.terms-container {
  border: 1px solid $gray-border;
  border-top: none;
  width: 80%;
  margin: 0 auto;
}

.terms-text {
  padding: 5% 5% 3%;
}

.signup-button {
  width: 40%;
  margin: 0 auto;
}

/* home */

.hero {
  height: 515px;
  overflow: hidden;
  position: relative;
}

.hero-video-container {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} 

.hero-video {
  width: 100%;
}

.hero-detail {
  text-align: center;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: white;
  margin: 0;
}

.hero-info {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: white;
  margin: 0.4em 0 1.4em;
}

.search-form-primary-content {
  margin: 0;
}

.search-bar-primary {
  padding: 0;
}

.search-bar-primary-icon {
  color: $gray-light;
  position: absolute;
  top: 50%;
  left: 0.9em;
  transform: translateY(-50%);
}

.search-button-primary {
  padding: 0;
}

.popular-searches {
  background-color: $gray-text;
  border: 1px solid $gray-text;
  height: 40px;
  margin: 0;
}

.popular-searches-link {
  font-size: 1.05em;
  font-weight: bold;
  line-height: 2.65;
  color: white;
  &:hover,
  &:focus {
    text-decoration: none;  
    color: white;
  }
}

.popular-searches-icon {
  margin-right: 0.5em;
}

.offerings {
  text-align: center;
  background-color: white;
  border-bottom: 1px solid $gray-border;
}
  
.offerings-content {
  max-width: 1008px;
  margin: 0 auto;
}
    
.offerings-detail {
  border-right: 1px solid $gray-border;
  padding: 2em;
  &:last-child {
    border-right: none;
  }
}

.offerings-title {
  font-size: 1.65em;
  font-weight: bold;
  color: $gray-darker;
  margin: 0 0 0.25em;
}

.offerings-info {
  font-size: 1.1em;
  line-height: 1.5;
  color: $gray-darker;
  margin: 0;
}

#feed {
  background-color: $gray-lightest;
  border-bottom: 1px solid $gray-border;
}

.feed-content {
  max-width: 1008px;
  padding: 4em 0;
  margin: 0 auto;
}

.feed-title {
  font-size: 1.65em;
  font-weight: bold;
  line-height: 1.65;
  text-align: center;
  color: $green;
  margin: 0 0 2.1em;
}

.press {
  text-align: center;
  background-color: white;
  padding: 3.5em 0 1.7em;
}

.press-title {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.5;
  color: $blue;
  margin: 0 0 1.5em;    
}

.press-logos {
  margin: 0 auto 2.6em;
  max-width: 1008px;
}

.feed-item {
  padding-bottom: 30px;
  a {
    text-decoration: none;
  }
}

.feed-item-content {
  background-color: white;
  border: 1px solid $gray-border;
}

.feed-item-image {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.feed-item-credit {
  position: absolute;
  top: 0.7em;
  left: 0.7em;
  span {
    font-size: 0.85em;
    font-weight: bold;
    color: $gray-modal-controls;
  }
}

.feed-item-title {
  border-bottom: 1px solid $gray-border;
  padding: 0.4em 0.7em;
  p {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.8;
    text-align: left;
    color: $gray-text;
    height: 25px;
    overflow: hidden;
    margin: 0;
  }
}

.feed-item-icon {
  color: $yellow-dark;
  margin-right: 0.4em;
  display: table-cell;
  vertical-align: middle;
}

.feed-item-info {
  padding: 0.7em;
  p {
    font-size: 0.9em;
    line-height: 1.4;
    text-align: left;
    color: $gray-a;
    height: 35px;
    overflow: hidden;
    margin: 0;
  }
}

.feed-item-stats {
  padding-top: 0.3em;
}

.feed-item-time, 
.feed-item-saves {
  display: inline-block;
  span {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1.4;
    color: $gray-b;
  }
}

/* about */

.about-cover-photo {
  background-image: url("about.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 430px;
  position: relative;
}

.cover-photo-title {
  font-size: 3.5em;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 1.3;
  text-align: center;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about {
  max-width: 1008px;
  padding: 5.1em 0;
  margin: 0 auto;
}

.about-info {
  line-height: 2.1;
  max-width: 850px;
  margin: 0 auto;
}

/* how-it-works */

.how-it-works-cover-photo {
  background-image: url("how-it-works.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 430px;
  position: relative;
}

.how-it-works-intro {
  max-width: 1008px;
  padding: 5.1em 0;
  margin: 0 auto;
}

.how-it-works-info {
  line-height: 2.1;
  max-width: 850px;
  margin: 0 auto;
}

.how-it-works-steps {
  text-align: center;
  border-top: 1px solid $gray-border;
  border-bottom: 1px solid $gray-border;
  margin-bottom: 6.5em;
}

.steps-content {
  margin: 0 auto;
  max-width: 1008px;
}

.step {
  padding: 2.9em;
  border-right: 1px solid $gray-border;
  &:last-child {
    border-right: none;
  }
}

.step-title {
  font-size: 1.65em;
  font-weight: bold;
  color: $gray-text;
  margin: 1.3em 0;
}

.step-info {
  font-size: 1.1em;
  line-height: 2.1;
  color: $gray-text;
  margin: 0;
}

.fa-binoculars,
.fa-area-chart,
.fa-book {
  color: $yellow-dark;
}

/* contact */

.contact {
  max-width: 1008px;
  margin: 0 auto;
  padding: 4em 0;
}

.contact-instructions-header {
  margin: 0 0 1em;
}

.fa-bullhorn {
  color: $yellow-dark;
  margin: 0 0.3em 0 0;
}

.contact-title {
  font-size: 2.3em;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: $gray-text;
}

.contact-info {
  line-height: 2.1;
  text-align: left;
  margin: 0 0 1em;
}

.contact-form {
  background-color: $gray-lightest;
  padding: 1.7em 2.3em;
}

.contact-legal {
  font-size: 0.85em;
  line-height: 1.3;
  text-align: left;
  color: $gray-dark;
  margin-bottom: 0;
  a {
    color: $gray-dark;
    border-bottom: 1px solid $gray-dark;
    &:hover {
      text-decoration: none;
      color: $gray-dark;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

.contact-map {
  width: 100%;
}

.contact-address {
  border-right: 1px solid $gray-border;
  border-bottom: 1px solid $gray-border;
  border-left: 1px solid $gray-border;
  padding: 1.7em 2.3em;
}

.location-detail {
  font-size: 1.05em;
  line-height: 1.1;
  font-weight: bold;
  color: $gray-text;
  margin-bottom: 1.2em;
  display: block;
}

.contact-social-media {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 1.7em 0 0;
  li {
    margin-right: 1.1em;
    display: inline-block;
    a {
      color: $gray-text;
    }
  }
  &:last-child { 
    margin-right: 0 !important; 
  }
}

/* help */

.help {
  max-width: 1008px;
  padding: 5.1em 0;
  margin: 0 auto;
}

.help-title {
  font-size: 2.3em;
  letter-spacing: -0.01em;
  line-height: 1.3;
  font-weight: bold;
  text-align: center;
  color: $gray-text;
  max-width: 900px;
  margin: 0 auto 1.5em;
}

.help-topics {
  background-color: $gray-lightest;
  padding: 1.7em 2.3em;
}

.topics-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    margin-bottom: 1.4em;
    a {
      font-size: 1.05em;
      font-weight: bold;
      color: $gray-dark;
      transition: color 0.3s;
      &:hover {
        text-decoration: none;
        color: $gray-darker;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.help-faqs {
  border: 1px solid $gray-border;
  padding: 1.7em 2.3em
}

.help-faqs-title {
  font-size: 1.7em;
  font-weight: bold;
  color: $gray-text;
  margin: 0 0 1.7em;
}

.faq-title {
  line-height: 2.1;
  font-weight: bold;
  text-align: left;
}

.faq-info {
  line-height: 2.1;
  text-align: left;
}

/* search */

.search-summary {
  background-color: $green;
  padding-top: 50px;
}

.search-summary-content {
  color: white;
  max-width: 1008px;
  padding: 2.3em 0;
  margin: 0 auto;
}

.search-summary-title {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 0.5em;
}

.search-summary-info {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.3;
  margin: 0;
}

.search-results {
  position: relative;
}

#search-map {
  height: calc(100vh - 50px);
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
}

.search-results-background {
  background-color: $gray-lightest;
}

.search-list-container {
  max-width: 1008px;
  margin: 0 auto;
}

.search-list-content {
  background-color: $gray-lightest;
  border-left: 1px solid $gray-border;
  min-height: calc(100vh - 50px);
  padding: 1.7em 0 1.7em 1.7em;
  position: relative;
  z-index: 100;
}

.search-filters {
  display: none;
  background-color: white;
  border: 1px solid $gray-border;
  padding: 1.7em;
}

.filter-controls {
  margin: 0 0 1.7em;
}

.filters-icon {
  color: $yellow-dark;
  margin-right: 0.5em;
}

.search-sort {
  float: right;
  display: table;
  label {
    padding-right: 0.5em;
    display: table-cell;
  }
  select {
    display: table-cell;
  }
}

.search-items {
  padding: 0;
}

.search-advice-content {
  border: 1px solid $gray-border;
  padding: 1.7em;
  margin: 0;
}

.advice-icon {
  color: $yellow-dark;
}

.advice-title {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0;
  color: $gray-text;
  margin: 0 0 0.5em;
}

.advice-info {
  font-size: 1em;
  text-align: left;
  margin: 0;
}

div.pagination {
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 1.7em 0 0;
}

ul.pagination {
  margin: 0;
  li a {
    text-decoration: underline;
    color: $gray-dark;
    background-color: transparent;
    border: none;
    padding: 1em 1.3em;
    &:hover,
    &:focus {
      color: $gray-dark;
      background-color: transparent;
    }
  }
}

.next_page a,
.previous_page a {
  color: $gray-text !important;
  border: 1px solid $gray-light !important;
  border-radius: .125em !important;
}

.previous_page.disabled a {
  color: $gray-border !important;
  background-color: transparent !important;
  border: 1px solid $gray-border !important;
}

.active a {
  text-decoration: none !important;
  color: $gray-text !important;
  background-color: transparent !important;
}

.disabled a {
  text-decoration: none !important;
  background-color: transparent !important;
  pointer-events: none;
}

.slider-filters,
.dropdown-filters,
.checkbox-filters {
  margin-bottom: 1em;
}

.slider-label {
  font-size: 0.85em;
  font-weight: bold;
  line-height: 2;
  color: $gray-dark;
  display: inline-block;
  float: right;
}

.slider.slider-horizontal {
  width: 90%;
  display: block;
  margin: 0 auto;
  .slider-track {
    height: 0.5em;
  }
}

.tooltip {
  display: none;
}

.slider-selection, 
.slider-track-high {
	background: $gray-lighter;
	box-shadow: none;
}

.slider-handle {
  background: $green;
  height: 1.2em;
  width: 1.2em;
}

.vehicle-item {
  list-style: none;
  background-color: white;
  border: 1px solid $gray-border;
  margin-bottom: 1.7em;
  &:hover {
    .btn-summary-carousel-left,
    .btn-summary-carousel-right {
      opacity: 1;
    }
  }
}

.vehicle-item-summary {
  margin: 0;
}

.summary-carousel-container {
  padding: 0;
}

.summary-carousel {
  position: relative;
}

.summary-carousel .item {
  background-color: $gray-darkest;
  height: 200px;
  width: 1000px;
  img {
    height: 100%;
    width: auto;
  }
}

.summary-detail,
.summary-price {
  padding: 1.7em 1.1em 0;
}

.summary-detail-content:hover,
.summary-price-content:hover,
.vehicle-item-deal-content:hover,
.vehicle-item-appointment-content:hover,
.vehicle-item-test-drive-content:hover {
  text-decoration: none;
}

.summary-detail-title,
.summary-price-title {
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.3;
  text-align: left;
  color: $gray-darker;
  margin: 0 0 0.6em;
}

.summary-detail-info {
	max-height: 3em;
	overflow: hidden;
}

.summary-detail-seller,
.summary-detail-info {
  font-size: 1em;
  line-height: 1.5;
  text-align: left;
  color: $gray-dark;
  margin: 0 0 0.6em;
}

.summary-detail-link {
  font-size: 1em;
  line-height: 1.5;
  color: $gray-text;
  margin: 1.2em 4.5em 0 0;
}

.summary-detail-link-icon {
  color: $yellow-dark;
  margin-right: 0.5em;
  display: inline-block;
}

.vehicle-item-deal,
.vehicle-item-appointment,
.vehicle-item-test-drive {
  border-top: 1px solid $gray-border;
  padding: 1.1em 1.7em;
}

.deal-detail-icon {
  color: $red;
  margin-right: 0.4em;
}

.deal-detail-title {
  font-size: 1em;
  font-weight: bold;
  color: $red;  
}

.deal-detail-info,
.appointment-detail-info,
.test-drive-detail-info {
  font-size: 1em;
  font-weight: bold;
  color: $gray-darker;
  float: right;
}

/* listing */

.hero-listing {
  height: 430px;
  cursor: pointer;
}

.listing-navbar {
  background-color: white;
  border-bottom: 1px solid $gray-border;
  height: 50px;
  margin-bottom: -50px;
  position: relative;
  z-index: 1000;
}

.listing-navbar-scrolled {
  position: fixed !important;
  top: 0;
  width: 100%;
}
  
.listing-navbar-content {
  max-width: 1008px;
  margin: 0 auto;
}

.listing-navbar li a,
.secondary-navbar li a {
  font-size: 13px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: $gray-dark;
  padding: 18.5px 0 14.5px;
  margin-right: 4em;
  transition: color 0.3s;
  &:hover {
    color: $gray-darker;
    background-color: transparent;
  }
  &:focus {
    background-color: transparent;
  }
}

.nav-active {
  color: $gray-darker !important;
  border-bottom: 4px solid $yellow-dark;
}

.listing-navbar-button {
  height: 50px;
  position: relative;
}

.navbar-price-container {
  text-align: center;
  background-color: $yellow-dark;
  height: 100px;
  width: 100%;
  position: absolute;
  top: -50px;
}
  
.navbar-price-visible {
  font-size: 2.5em;
  font-weight: bold;
  color: $gray-text;
  margin: 0;
  transform: translateY(50%);
  transition-property: opacity, transform;
  transition-duration: 0.5s;
}

.navbar-price-hidden {
  opacity: 0;
  transform: translateY(-150%);
}

#vehicle-overview {
  background-color: white;
  border-bottom: 1px solid $gray-border;
  position: relative;
  z-index: 900;
}

.vehicle-overview-content {
  max-width: 1008px;
  margin: 0 auto;
}

.vehicle-overview-text {
  padding: 4em 7em 4em 0
}

.vehicle-overview-title {
  margin-bottom: 3.4em;
}

.vehicle-overview-avatar {
  border-radius: 37.5px;
  height: 75px;
  width: 75px;
}

.vehicle-overview-heading {
  font-size: 2.3em;
  font-weight: bold;
  line-height: 1.5;
  color: $gray-text;
  margin: 0;
}

.vehicle-overview-subheading {
  font-size: 1.1em;
  line-height: 2;
  text-align: left;
  color: $gray-text;
  margin: 0;
}

.vehicle-overview-description {
  font-size: 1.1em;
  line-height: 2;
  text-align: left;
  color: $gray-text;
  margin: 0;
}

.vehicle-overview-products {
  margin-top: 1.5em;
}

.products-title {
  font-size: 1.1em;
  font-weight: bold;
  color: $red;
}

.products-link {
  font-size: 1.1em;
  text-decoration: underline;
  color: $gray-dark;
  float: right;
  &:hover,
  &:focus {
    color: $gray-dark;
  }
}

.appointment {
  background-color: $gray-lightest;
  padding: 1.6em;
  margin-bottom: 2.3em;
}

.appointment-content {
  margin-bottom: 1.6em;
}

.vehicle-reviews {
  background-color: $gray-lightest;
  padding: 1.6em;
  margin-bottom: 3.5em;
}

.vehicle-reviews-title {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.7;
}

.vehicle-reviews-info {
  font-size: 1em;
  line-height: 1.7;
  text-align: left;
  margin: 0.6em 0 1.2em;
}

.next-button-icon {
  color: white;
  margin-left: 0.5em;
}

#vehicle-details {
  background-color: $gray-lightest;
  border-bottom: 1px solid $gray-border;
  padding-top: 50px;
  margin-top: -50px;
  position: relative;
  z-index: 800;
}

.vehicle-details-content {
  max-width: 1008px;
  margin: 0 auto;
  padding: 4em 0;
}

.vehicle-details-text {
  padding-right: 7em;
}

.specifications,
.features,
.pricing {
  margin-bottom: 4em;
}

.vehicle-details-title {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: $blue;
  margin: 1em 0 2.5em;
}

.vehicle-details-table, 
.vehicle-details-info {
  line-height: 2;
  text-align: left;
  color: $gray-text;
  margin: 0;
}

.vehicle-details-table {
  font-size: 1em;
  td {
    padding-right: 1.5em;
  }
}

.unavailable-feature {
  display: none;
}

.vehicle-details-info {
  font-size: 1.1em;
}

#links-scrolled {
  position: static;
}

.links-scrolled-content {
  background-color: white;
  border: 1px solid $gray-border;
}

.appointment-scrolled {
  border-bottom: 1px solid $gray-border;
  padding: 1.6em;
}

.products-scrolled {
  padding: 1.6em;
}

.products-scrolled-title {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.3;
  color: $red;
}

.products-scrolled-link {
  font-size: 1em;
  line-height: 1.4;
  text-decoration: underline;
  color: $gray-dark;
  float: right;
  &:hover,
  &:focus {
    color: $gray-dark;
  }
}

.products-scrolled-info {
  font-size: 1em;
  line-height: 1.4;
  text-align: left;
  color: $gray-text;
  margin: 0.6em 0 0;
}

#gallery {
  background-color: white;
  border-bottom: 1px solid $gray-border;
  padding-top: 50px;
  margin-top: -50px;
  position: relative;
  z-index: 700;
}

.gallery-row-primary {
  height: 400px;
  margin: 0;
}

.gallery-photo-container {
  background-color: $gray-modal;
  border: 2px solid white;
  height: 100%;
}

.gallery-row-secondary {
  height: 200px;
}

#reviews {
  background-color: $gray-lightest;
  border-bottom: 1px solid $gray-border;
  padding-top: 50px;
  margin-top: -50px;
  position: relative;
  z-index: 600;
}

.reviews-content {
  max-width: 1008px;
  padding: 4em 0;
  margin: 0 auto;
}

.reviews-title {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.7;
  color: $gray-text;
  margin: 0.5em 0 1.8em;
}

.no-reviews {
  text-align: center;
}

.no-reviews-icon {
  color: $yellow-dark;
  margin-bottom: 0.85em;
}

.no-reviews-info {
  font-size: 1.2em;
  font-weight: bold;
  color: $gray-text;
  margin: 0;
}

.review-item {
  margin-top: 2.3em;
}

.reviews-summary {
  margin-bottom: 3.5em;
}

.reviews-subheading {
  font-size: 1.2em;
  font-weight: bold;
  color: $gray-text;
  margin: 0 0 1.3em;
}

.average-rating-number {
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  color: $gray-text;
  background-color: $yellow-dark;
  border-radius: 2px;
  padding: 0.25em 0;
}

.number-of-reviews {
  font-size: 1.1em;
  line-height: 2;
  color: $gray-text;
}

.pros-cons-list {
  padding-left: 1.6em;
}

.pros-cons-list-content {
  font-size: 1.1em;
  line-height: 2;
  list-style: none;
  color: $gray-text;
  padding: 0;
}

.review-author {
  margin-top: 1.4em;
  transition: 0.3s;
}

.review-author-clickable:hover,
.review-author-clickable:focus {
  text-decoration: none;
  opacity: 0.6;
}

.author-avatar {
  border: 2px solid white;
  border-radius: 22.5px;
  height: 45px;
  width: 45px;
  margin-right: 1em;
}

.author-name {
  font-size: 1.1em;
  font-weight: bold;
  color: $gray-text;
}

.review-container {
  background-color: white;
  border: 1px solid $gray-border;
  padding: 1.6em;
}

.review-details {
  width: 100%;
  margin: 0.3em 0 1.1em;
}

.review-rating {
  padding: 0.4em 0;
  margin: 0 0.9em 0 0;
  display: inline-block;
}

.review-title {
  font-size: 1.1em;
  font-weight: bold;
  color: $gray-text;
  display: inline-block;
}

.review-date {
  font-size: 1em;
  color: $gray-dark;
  float: right;
  margin-top: 0.5em;
}

.review-comment {
  font-size: 1em;
  line-height: 2;
  text-align: left;
  color: $gray-text;
}

.review-post-container {
  text-align: right;
}

.review-post {
  line-height: 2;
  text-decoration: underline;
  color: $gray-dark;
  background-color: white;
  border: none;
  padding: 0;  
  &:hover,
  &:focus {
    outline: none;
  }
}  

.review-remove {
  text-align: right;
  a {
    font-size: 1em;
    line-height: 2;
    text-decoration: underline;
    color: $gray-dark;
    &:hover,
    &:focus {
      color: $gray-dark;
    }
  }
}

#map-and-brochure {
  background-color: $gray-lightest;
  border-bottom: 1px solid $gray-border;
  padding-top: 50px;
  margin-top: -50px;
}

.map-and-brochure-content {
  margin: 0;
}

#vehicle-map {
  border: 2px solid white;
  height: 450px;
  padding: 0;
}

.brochure-image {
  background-image: url("brochure.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid white;
  height: 450px;
  padding: 0;
}

.brochure-detail {
  padding-top: 17em;
  padding-left: 3.5em;
}

.brochure-detail-title {
  font-size: 3.5em;
  font-weight: bold;
  color: white;
}

.brochure-detail-info {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.modal {
  background-color: $gray-modal;
  padding: 0 !important;
}

.modal-carousel-container {
  height: 100%;
  width: 94%;
  padding: 2.3em;
  transition: width 0.4s;
}

.modal-carousel-container-closed {
  width: 71%;
}

.carousel, 
.carousel-inner, 
.item {
  height: 100%;
  width: 100%;
}

.modal-caption-container {
  background-color: $gray-darkest;
  height: 100%;
  width: 23%;
  padding: 2.3em 0;
  position: absolute;
  top: 0;
  left: 94%;
  z-index: 10;
  transition: transform 0.4s;
}

.modal-caption-container-open {
  transform: translateX(-100%);
}

.modal-detail {
  padding: 0 2.3em;
}

.modal-title,
.modal-info,
.modal-caption {
  font-size: 0.95em;
  line-height: 1.5em;
  color: $gray-modal-controls;
  margin: 0;
}

.modal-title {
  font-weight: bold;
}

.modal-caption {
  margin-top: 1.5em;
}

.modal-options-container {
  background-color: black;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

.btn-modal {
  text-align: center;
  color: $gray-modal-controls;
  width: 100%;
  cursor: pointer;
  padding: 1.8em 0;
  transition: color 0.3s;
  &:hover, 
  &:focus {
    color: white;
  }
}

.modal-show-info {
  cursor: pointer;
  transform: rotate(90deg);
  p {
    font-weight: bold;
    line-height: 0;
    color: $gray-modal-controls;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    transition: color 0.3s;
    &:hover {
      color: white;
    }
  }
}

.modal-social-media {
  background-color: $gray-social-media;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.modal {
  .active {
    position: relative;
    img {
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

/* profile */

.hero-profile {
  height: 300px;
}

.user-summary {
  background-color: white;
  border-bottom: 1px solid $gray-border;
}

.user-summary-content {
  max-width: 1008px;
  margin: 0 auto;
}

.user-summary-avatar-container {
  height: 105px;
  position: relative;
}

.user-summary-avatar {
  border: 2px solid white;
  border-radius: 100px;
  height: 200px;
  width: 200px;
  position: absolute;
  bottom: 5px;
}

.user-summary-name {
  font-size: 2.3em;
  font-weight: bold;
  line-height: 1.5;
  color: $gray-text;
  margin: 0;
}

.user-summary-info {
  font-size: 1.1em;
  line-height: 1;
  text-align: left;
  color: $gray-text;
  margin: 0;
}

.profile-overview {
  background-color: white;
  border-bottom: 1px solid $gray-border;
}

.profile-overview-content {
  max-width: 1008px;
  margin: 0 auto;
  padding: 4em 0;
}

.profile-overview-text {
  padding-right: 7em;
}

.profile-overview-info {
  font-size: 1.1em;
  line-height: 2;
  text-align: left;
  color: $gray-text;
  margin: 0;
}

.profile-overview-phone {
  margin-top: 1.5em;
}

.phone-title {
  font-size: 1.1em;
  font-weight: bold;
  color: $red;
}

.phone-link {
  font-size: 1.1em;
  text-decoration: underline;
  color: $gray-dark;
  float: right;
  &:hover,
  &:focus {
    color: $gray-dark;
  }
}

.profile-reviews {
  background-color: $gray-lightest;
  padding: 1.6em;
}

.profile-reviews-title {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.7;
}

.profile-reviews-info {
  font-size: 1em;
  line-height: 1.7;
  text-align: left;
  margin: 0.6em 0 1.2em;
}

.profile-details {
  background-color: $gray-lightest;
}

.profile-details-content {
  max-width: 1008px;
  margin: 0 auto;
  padding: 4em 0;
}

.profile-static {
  padding-right: 7em;
}

.profile-details-listings {
  margin-bottom: 4.5em;
}

.profile-details-title {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  color: $blue;
  margin: 1em 0 2.5em;
}

#profile-scrolled {
  position: static;
}

.profile-scrolled-content {
  background-color: white;
  border: 1px solid $gray-border;
}

.optional-scrolled {
  padding: 1.6em;
}

.optional-scrolled-detail {
  width: 100%;
}

.optional-scrolled-title {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 2;
  color: $red;
}

.optional-scrolled-link {
  font-size: 1em;
  text-decoration: underline;
  color: $gray-dark;
  float: right;
  &:hover,
  &:focus {
    color: $gray-dark;
  }
}

.optional-scrolled-info {
  font-size: 1em;
  color: $gray-text;
  float: right;
}

.listing-item a {
  text-decoration: none;
}

.listing-item-image {
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.wish-list-summary-carousel .item {
  background-color: $gray-darkest;
  height: 175px;
  width: 1000px;
  img {
    height: 100%;
    width: auto;
  }
}

/* backend */

.secondary-navbar {
  background-color: $gray-lightest;
  height: 50px;
}

.secondary-navbar-nav {
  max-width: 1008px;
  margin: 0 auto;
}

.backend {
  background-color: white;
}

.backend-content {
  max-width: 1008px;
  padding: 3.5em 0;
  margin: 0 auto;
}

.backend-instructions,
.messages-info {
  background-color: $gray-lightest;
  padding: 2.3em;
}

.backend-instructions-title {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.3;
  color: $gray-text;
  margin: 0 0 0.8em;
}

.backend-instructions-info {
  line-height: 2.2;
  text-align: left;
  margin: 0;
}

.backend-list {
  padding: 0;
}

.messages-info {
  text-align: center;
}

.messages-info-avatar {
  border: 2px solid white;
  border-radius: 70px;
  height: 140px;
  width: 140px;
  margin: 0 auto;
}

.messages-info-username {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.7;
  text-align: center;
  color: $gray-text;
  margin: 0.3em 0 0;
}

.messages-info-city {
  font-size: 1.1em;
  line-height: 1.2;
  color: $gray-dark;
  margin: 0;
  display: block;
}

.messages-info-phone {
  font-size: 1em;
  text-decoration: underline;
  color: $gray-dark;
  &:hover,
  &:focus {
    color: $gray-dark;
  }
}

.messages-info-description {
  line-height: 2.2;
  margin: 1em 0;
}

.messages-info-expand {
  font-weight: bold;
  text-align: center;
  color: $green;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.hero-primary,
.hero-secondary {
  background-color: $gray-hero;
}

.hero-primary-content, 
.hero-secondary-content {
  max-width: 1008px;
  padding: 3em 0;
  margin: 0 auto;
}

.hero-avatar {
  border: 2px solid white;
  border-radius: 70px;
  height: 140px;
  width: 140px;
}

.hero-username {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.7em;
  color: white;
  margin: 0;
}

.hero-detail-title {
  font-size: 0.85em;
  font-weight: bold;
  line-height: 1.8em;
  color: white;
  display: table-cell;
}

.hero-detail-info {
  font-size: 1.1em;
  line-height: 2.2em;
  color: white;
  padding-left: 1em;
  display: table-cell;
}

.conversation-link {
  transition: 0.3s;
  &:hover,
  &:focus {
    text-decoration: none;
    opacity: 0.6;
  }
}

.conversation-item {
  list-style: none;
  background-color: $gray-lightest;
  padding: 1.1em;
  margin-bottom: 1.7em;
}

.conversation-item-content {
  width:100%
}

.conversation-avatar {
  border: 2px solid white;
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.conversation-detail {
  width: 12em;
  padding: 0 3em 0 1em;
}

.conversation-name {
  font-size: 1.1em;
  font-weight: bold;
  text-align: left;
  color: $gray-text;
  max-height: 1.4em;
  margin: 0;
  overflow: hidden;
}

.conversation-date {
  font-size: 1em;
  text-align: left;
  color: $gray-dark;
  margin: 0;
}

.conversation-content-container {
  width: 100%;
}

.conversation-content {
  font-size: 1em;
  text-align: left;
  color: $gray-text;
  max-height: 1.4em;
  margin: 0;
  overflow: hidden;
}

.conversation-delete-link {
  font-size: 1em;
  text-align: right;
  color: $gray-dark;
  width: 5.5em;
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

.message-container {
  background-color: white;
  border: 1px solid $gray-border;
  padding: 1.6em;
  margin-bottom: 1.7em;
}

.message-detail {
  width: 100%;
}

.message-date-container {
  width: 100%;
}

.message-date {
  line-height: 2;
  font-size: 1em;
  color: $gray-dark;
}

.message-post {
  line-height: 2;
  text-decoration: underline;
  color: $gray-dark;
  background-color: white;
  border: none;
  padding: 0;
  &:hover,
  &:focus {
    outline: none;
  }
} 

.message-avatar {
  border-radius: 30px;
  height: 60px;
  width: 60px;
  margin-top: 1.8em;
}

.message-avatar-left {
  margin-left: 0;
}

.message-avatar-right {
  margin-right: 0;
  margin-left: auto;
}

.message-comment {
  font-size: 1em;
  line-height: 2;
  text-align: left;
  color: $gray-text;
  margin: 0 0 0.7em;
}

.post-avatar {
  border-radius: 37.5px;
  height: 75px;
  width: 75px;
}

.appointment-detail-icon,
.test-drive-detail-icon {
  color: $blue;
  margin-right: 0.4em;
}

.appointment-detail-title,
.test-drive-detail-title {
  font-size: 1em;
  font-weight: bold;
  color: $blue;  
  margin-right: 0.4em;
}

.update-panel {
  border: 1px solid $gray-border;
  margin-bottom: 2.5em;
}

.panel-header {
  border-bottom: 1px solid $gray-border;
  padding: 1.1em 1.7em;
}

.panel-title {
  font-size: 1em;
  font-weight: bold;
  color: $blue;
}

.panel-body {
  padding: 0;
  margin: 0;
}

.avatar-container {
  background-color: $gray-darkest;
  height: 200px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.avatar {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar-instructions {
  padding: 0 1.1em;
}

.avatar-instructions-text {
  line-height: 2.2;
  color: $gray-darker;
  margin: 0;
}

.button-container {
  text-align: center;
  height: 50px;
  width: 40%;
  margin: 1.1em auto 0;  
  position: relative;
}

.avatar-instructions-button {
  font-weight: bold;
  line-height: 50px;
  color: white;
  background-color: $green;
  border: 1px solid $green;
  border-radius: 2px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.avatar-upload {
  opacity: 0;
  height: 50px;
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

/* new vehicle and update vehicle */

.new-vehicle,
.update-vehicle {
  background-color: white;
}

.new-vehicle-content,
.update-vehicle-content {
  max-width: 1008px;
  margin: 0 auto;
}

.instructions,
.basics,
.details {
  border-bottom: 1px solid $gray-border;
}

.instructions {
  padding: 3.5em 0;
}

.basics,
.details,
.finalize {
  padding: 3.5em 0 1.5em;
}

.instructions-content {
  background-color: $gray-lightest;
  padding: 2.3em;
}

.instructions-icon {
  text-align: center;
}

.fa-rocket {
  color: $yellow-dark;
}

.instructions-title,
.basics-title,
.details-title,
.finalize-title {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.3em;
  color: $gray-text;
  margin: 0 0 20px;
}

.instructions-info,
.basics-info,
.details-info,
.finalize-info {
  line-height: 2.2em;
  text-align: left;
  color: $gray-text;
  margin: 0;
}

.installed-options {
  margin-bottom: 1.8em;
}

.installed-options-title {
  font-size: 0.95em;
  font-weight: bold;
  line-height: 1.3;
  color: $gray-darker;
  margin: 0 0 1.2em;
}

.installed-options-list {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    margin: 0 0.3em 0.6em 0;
    input {
      display: none;
    }
    input + label {
      font-size: 0.85em;
      line-height: 2.1em;
      color: $gray-dark;
      background-color: $gray-lightest;
      border: 1px solid $gray-light;
      border-radius: 2px;
      cursor:pointer;
      padding: 3px 8px;
      margin: 0;
      transition: border-color 0.3s, color 0.3s, background-color 0.3s;
      &:hover {
        border-color: $green;
      }
      &:focus {
        color: white;
        background-color: $green;
      }
    }
    input:checked + label {
        border-color: $green;
        color: white;
        background-color: $green;
    }
  }
}

.photos-title {
  font-size: 0.95em;
  font-weight: bold;
  line-height: 1.3;
  color: $gray-darker;
  margin: 0 0 1.2em;
  display: block;
}

.photos-button {
  position: relative;
}

.btn-file {
  position: absolute;
  z-index: 1;
}

.MultiFile-applied {
  opacity: 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

.MultiFile-label {
  display: inline-block;
}

.new-vehicle-gallery {
  margin: 0;
}

.new-vehicle-photo-container {
  padding: 0;
  border: 4px solid white;
}

.new-vehicle-photo {
  height: 150px;
  border-radius: 4px;
}

.img_preview {
  position: relative;
}

.remove-photo-icon, 
.MultiFile-remove {
  position: absolute;
  z-index: 200;
  right: 10px;
  top: 10px;
  color: $gray-modal-controls;
  &:hover, 
  &:focus {
    color: white;
  }
}

#images__list {
  padding-top: 62px;
}

.MultiFile-label {
  position: relative;
  height: 150px;
  width: 212.66px;
  border: 4px solid white;
}

.MultiFile-title {
  display: none;
}

.MultiFile-preview {
  max-height: 100% !important;
  max-width: 100% !important;
  border-radius: 4px;
}

.submit-vehicle {
  padding-bottom: 3.5em;
}

.listing-status {
  background-color: $gray-darker;
  padding: 1.7em;
}

.amount-complete {
  font-size: 2.6em;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.01em;
  text-align: center;
  color: $yellow-dark;
  display: block;
}

.status-description {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  color: $gray-light;
  margin-top: 1.1em;
  display: block;
}

/* forum */

.forum {
  max-width: 1008px;
  margin: 0 auto;
}

.forum-cover-photo {
  background-image: url("forum.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 430px;
  position: relative;
}

.posts {
  padding: 4em 7em 4em 0
}

.posts-tag {
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.7;
  color: $gray-text;
  margin: 0.5em 0 1.8em;
}

.posts-list {
  list-style: none;
  padding-left: 0;
}

.post-item {
  margin-bottom: 4em;
}

.post-header {
  margin-bottom: 3.4em;
}

.post-title {
  font-size: 2.3em;
  font-weight: bold;
  line-height: 1.5;
  color: $gray-text;
  margin: 0;
}

.post-info {
  font-size: 1.1em;
  line-height: 2;
  color: $gray-text;
}

.post-content {
  font-size: 1.1em;
  line-height: 2;
  text-align: left;
  color: $gray-text;
  margin: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

// .page-container {
//   height: 100%;
//   width: auto;
//   padding: 0;
//   position: relative;
// }

// .up-button-icon {
//   color: $gray-text;
//   margin-right: 0.3em;
// }

// .wish-list-scrolled {
//   font-size: 1em;
//   font-weight: bold;
//   color: $gray-text;
//   margin: 1.6em 0 0;
//   &:hover,
//   &:focus {
//     text-decoration: underline;
//     color: $gray-text;
//   }
// }

// .similar-vehicles {
//   background-color: white;
//   border-bottom: 1px solid $gray-border;
// }

// .similar-vehicles-content {
//   max-width: 1008px;
//   margin: 0 auto;
//   padding: 4em 0;
// }

// .similar-vehicles-title {
//   font-size: 1.2em;
//   font-weight: bold;
//   line-height: 1.4;
//   text-align: center;
//   color: $blue;
//   margin: 1em 0 2em;
// }

// .similar-vehicles-subheading {
//   font-size: 32px;
//   font-weight: bold;
//   line-height: 48px;
//   text-align: center;
//   color: $gray-text;
//   margin: 0 auto 1.5em;
//   max-width: 900px;
// }

// .related-discoveries {
//   background-color: $gray-lightest;
//   border-bottom: 1px solid $gray-border;
// }

// .related-discoveries-content {
//   max-width: 1008px;
//   margin: 0 auto;
//   padding: 4em 0;
// }

// .related-discoveries-title {
//   font-size: 1.2em;
//   font-weight: bold;
//   line-height: 1.4;
//   text-align: center;
//   color: $blue;
//   margin: 1em 0 2em;
// }

// .related-discoveries-subheading {
//   font-size: 32px;
//   font-weight: bold;
//   line-height: 48px;
//   text-align: center;
//   color: $gray-text;
//   margin: 0 auto 1.5em;
//   max-width: 900px;
// }

// .similar-vehicles-item-credit {
//   background-color: rgba(0, 0, 0, 0.5);
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   span {
//     font-size: 16px;
//     font-weight: bold;
//     line-height: 32px;
//     letter-spacing: 0.5px;
//     color: white;
//     padding: 8px 40px;
//     display: inline-block
//   }
// }

// .similar-vehicles-detail {
//   background-color: white;
//   padding: 16px;
// }

// .similar-vehicles-detail-title {
//   margin: 18px 0;
//   line-height: 24px;
//   font-size: 18px;
//   font-weight: bold;
//   color: $gray-darker;
//   &:hover,
//   &:focus {
//     color: $gray-darker;
//   }
// }

// .similar-vehicles-detail-info {
//   font-size: 14px;
//   line-height: 24px;
//   font-weight: bold;
//   color: $gray-dark;
//   margin: 0;
//   text-align: left;
//   &:hover,
//   &:focus {
//     color: $gray-dark;
//   }
// }

// .similar-vehicles-photos-description {
//   font-size: 14px;
//   line-height: 24px;
//   font-weight: bold;
//   color: $gray-dark;
//   &:hover,
//   &:focus {
//     color: $gray-dark;
//   }
// }

// .similar-vehicles-photos {
//   background-color: $gray-lightest;
//   padding: 16px;
// }

// .similar-vehicles-photos-icon {
//   margin-right: 10px !important;
// }

// .secondary-filters {
//   max-height: 0;
//   overflow: hidden;
//   transition: max-height 0.5s ease-in;
// }

// .secondary-filters-open {
//   max-height: 880px;
// }

/* buttons */

// .btn-user-wish-list {
//   font-size: 14px;
//   font-weight: bold;
//   line-height: 1.5em;
//   color: $gray-text;
//   background-color: transparent;
//   border-color: $yellow-dark;
//   width: 100%;
//   padding: 10px 14px;
//   &:focus {
//     outline: none;
//     box-shadow: none;
//   }
// }

// .input-group-btn:last-child > .btn {
//   margin: 0;
// }

// .btn-features {
//   font-size: 0.85em;
//   font-weight: bold;
//   line-height: 2.1em;
//   color: $gray-dark;
//   background-color: $gray-lightest;
//   border: 1px solid $gray-light;
//   border-radius: 2px;
//   padding: 3px 8px;
//   margin-bottom: 0.6em;
//   transition: border-color 0.3s;
//   &:hover {
//     border-color: $green;
//   }
//   &:focus {
//     color: white;
//     background-color: $green;
//     outline: none;
//   }
// }

// .btn-features-container {
//   margin-bottom: 1.7em;
// }

// .modal-details-row {
//   text-align: center;
// }

// .modal-details-image {
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   height: 75px;
//   width: 75px;
//   cursor: pointer;
//   position: relative;
//   transition: 0.3s; 
//   &:hover {
//     opacity: 0.5;
//     .hover-icon {
//       visibility: visible;
//     }
//   }
// }

// .hover-icon {
//   color: white;
//   margin: 0 !important;
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%); 
//   visibility: hidden;
// }

// .related-vehicle-a,
// .also-liked-a,
// .related-product-a {
//   float: left;
// }

// .related-vehicle-b,
// .also-liked-b,
// .related-product-b {
//   display: inline-block;
// }

// .related-vehicle-c,
// .also-liked-c,
// .related-product-c {
//   float: right;
// }

// .modal-details-gallery {
//   height: 70px;
// }

// .modal-image-number {
//   transform: rotate(90deg);
//   p {
//     font-weight: bold;
//     line-height: 0;
//     color: $gray-modal-controls;
//     position: relative;
//     top: 50%;
//     transform: translateY(-50%); 
//   }
// }
