<!--<div class="contact-widget-visible">-->
  
<!--  <div class="contact-widget-phone contact-widget-phone-inactive">-->
<!--    <i class="fa -->
<!--              fa-lg -->
<!--              fa-phone -->
<!--              contact-widget-phone-icon -->
<!--              contact-widget-phone-icon-inactive"></i>-->
<!--  </div>-->
  
<!--  <div class="contact-widget-mail contact-widget-mail-inactive">-->
<!--    <i class="fa -->
<!--              fa-lg -->
<!--              fa-envelope -->
<!--              contact-widget-mail-icon -->
<!--              contact-widget-mail-icon-inactive"></i>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="contact-widget-hidden hidden" id="contact-widget-hidden-phone">-->
<!--  <div class="contact-widget-hidden-content">-->
    
<!--    <span class="contact-widget-hidden-title">Call us for free</span>-->
    
<!--    <span class="contact-widget-hidden-phone">1-415-400-9009</span>-->
    
<!--    <span class="contact-widget-hidden-info">-->
<!--      10:00 - 19:00 PST-->
<!--    </span>-->
    
<!--    <span class="contact-widget-hidden-info">-->
<!--      Not available during public holidays and festivals.-->
<!--    </span>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="contact-widget-hidden hidden" id="contact-widget-hidden-mail">-->
<!--  <div class="contact-widget-hidden-content">-->
    
<!--    <span class="contact-widget-hidden-title">-->
<!--      Having trouble with a purchase or sale?-->
<!--    </span>-->
    
<!--    <(perc)= link_to "Contact Us", -->
<!--                new_enquiry_path, -->
<!--                class: "contact-widget-hidden-link" %>-->
<!--  </div>-->
<!--</div>-->