<!--complete-->

<div class="header-profile">
  <div class="header-profile-content">
    <div class="row vertical-align">
      
      <div class="col-xs-8 vertical-align">
        
        <div class="header-profile-avatar">
          <%= image_tag @user.avatar.url %>
        </div>
        
        <div class="header-profile-info">
          <span class="header-profile-username"><%= @user.name %></span>
        </div>
      </div>
      
      <div class="col-xs-4">

        <% if !current_user.nil? %>
          <%= button_to "Contact Seller", 
                        conversations_path(sender_id:    current_user.id, 
                                           recipient_id: @user.id), 
                        class: "btn-header-profile", 
                        method: :post %>
                        
        <% else %>
          <%= button_to "Contact Seller", 
                        login_path, 
                        class: "btn-header-profile", 
                        method: :get %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--include rating in place of header-profile-city-->