<!--complete-->

<div class="hero-secondary">
  <div class="hero-secondary-content">
    <div class="row vertical-align">
      
      <div class="col-xs-9">
        <div class="row vertical-align">
      
          <div class="col-xs-3">
            <div class="hero-avatar">
              <%= image_tag current_user.avatar.url %>
            </div>
          </div>
              
          <div class="col-xs-9">
            
            <h1 class="hero-username"><%= current_user.name %></h1>
            
            <% if current_user.phone_number.present? or 
                  current_user.email.present? %>
              <table>
                
                <% if current_user.phone_number.present? %>
                  <tr>
                    
                    <td>
                      <span class="hero-detail-title">Phone</span>
                    </td>
                    
                    <td>
                      <span class="hero-detail-info">
                        <%= current_user.phone_number.phony_formatted(
                              spaces: '-'
                            ) %>
                      </span>
                    </td>
                  </tr>
                <% end %>
                
                <% if current_user.email.present? %>
                  <tr>
                    
                    <td>
                      <span class="hero-detail-title">Email</span>
                    </td>
                    
                    <td>
                      <span class="hero-detail-info">
                        <%= current_user.email %>
                      </span>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="col-xs-3">
        <div class="listing-status">
          <span class="amount-complete">13%</span>
          <span class="status-description">Listing Complete</span>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    
    // image scaling
    var avatar = $('.hero-avatar');
    
    avatar.imagefill(); 
  })
</script>