<div class="modal-special-offer-mobile-header">
  <div class="modal-special-offer-mobile-header-content">
    
    <span class="modal-special-offer-mobile-header-title">
      Special Offer
    </span>
    
    <i class="fa 
              fa-times 
              fa-lg 
              modal-special-offer-mobile-header-close 
              pull-right" 
       aria-hidden="true"
       data-dismiss="modal"></i>
  </div>
</div>

<div class="modal-special-offer-mobile-body">
  <div class="modal-special-offer-mobile-body-content">
    
    <h2 class="modal-special-offer-desktop-subtitle">
      Receive $250 Cashback
    </h2>
    
    <span class="modal-special-offer-desktop-info">
      If you purchase online, receive $250 cashback when you order!
    </span>
  </div>
</div>