<h2 class="sidenav-title">
  Inbox
</h2>

<ul class="sidenav-list">
  <li class="<%= 'sidenav-active' if current_page?(conversations_path) %>">
    <%= link_to "Messages", conversations_path %>
  </li>
</ul>