<h2 class="sidenav-title">
  Your Listings
</h2>

<ul class="sidenav-list">
  <li class="sidenav-active">
    <%= link_to vehicles_path do %>
      Vehicles (<%= current_user.vehicles.count %>)
    <% end %>
  </li>
</ul>